{# poc/pocconges.html.twig #}

{% extends 'poc/pocabsence.html.twig' %}

{% block before %}
  <p>Truc avant</p>
{% endblock %}

{% block conges %}
 <p>Je suis un bloc spécifique pour les congés</p>
{% endblock %}
