{# agents/password.html.twig #}

{% extends 'base.html.twig' %}
{% block page %}
{% include 'agents/elements/change_password.html.twig' %}
<h3>Changement de mot de passe</h3>
{% include 'agents/elements/change_password_div.html.twig' %}
{% endblock %}
