maj.sh
*.swp
*~
*.kate-swp
/.php_cs.cache
public/data/*
!public/data/index.php
public/include/config.php
public/include/test.php
public/lang/custom.php
public/plugins/*
!public/plugins/class.plugins.php
!public/plugins/plugins.php
test-*
themes/*
!themes/default
vendor/*
!vendor/carhartl-jquery-cookie-3caf209
!vendor/CAS-1.3.4
!vendor/CJScript.js
!vendor/DataTables-1.10.4
!vendor/dataTables.*
!vendor/ics-parser
!vendor/jquery-*
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
