maj.sh
*.swp
*~
*.kate-swp
/.php_cs.cache
data/*.xls
data/*.csv
data/*.txt
data/ics/*
include/config.php
include/test.php
lang/custom.php
plugins/BSG*
plugins/conges*
plugins/ldap*
plugins/pla*
plugins/echanges*
test-*
themes/bcu*
themes/bua*
themes/bcu*
themes/bis*
themes/bs*
themes/comp*
themes/gre*
themes/lyon*
themes/sciencesPo*
themes/tlse*
themes/ut*

