maj.sh
*.swp
*~
*.kate-swp
data/*.xls
data/*.csv
data/*.txt
data/ics/*
include/config.php
include/test.php
plugins/BSG*
plugins/conges*
plugins/ldap*
plugins/pla*
plugins/echanges*
test-*
themes/bua*
themes/bis*
themes/bsb*
themes/comp*
themes/gre*
themes/lyon*
themes/sciencesPo*
themes/tlse*

