/**
Planning Biblio, Version 2.8
Licence GNU/GPL (version 2 et au dela)
Voir les fichiers README.md et LICENSE
@copyright 2011-2018 Jérôme Combes

Fichier : css/print.css
Création : mai 2011
Dernière modification : 9 février 2018
@author Jérôme Combes <jerome@planningbiblio.fr>

Description :
Feuille de style pour les impressions (media=print)

Incluse dans les fichiers include/header.php et setup/header.php
*/

body{
  font-size:10pt;
}

body{
  background:none;
}

#planning{
	width:297mm;
	height:210mm;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(-90deg);
	rotation:90deg;
	position:absolute;
	left:-40mm;
	bottom:50mm;
}
#tabsemaine1 {
	font-size:10pt;
	white-space: nowrap;
	}

#tableau td {
	padding-left:2mm;
	padding-right:1mm;
}

#date_planning {
	font-weight:bold;
	font-size:18pt;
	margin-bottom:5mm;
	}

#h3-Multisites{
  font-size:16pt;
}

#validation {
	position:absolute;
	right:10mm;
	top:0mm;
	white-space: nowrap;
	}
	
a, img, .noprint, .popper, .footer, .navigation, .ui-widget-header, div.ui-state-error, .menu_table, #planningTips, .ui-button {
	display:none;
	}

