{# config/index.html.twig #}

{% extends 'base.html.twig' %}

{% block page %}
  <script type="text/JavaScript" src="{{ asset('js/config.js') }}"></script>
  <script type="text/JavaScript">
    $( document ).ready(function() {
      $( "#confirm" ).dialog({
        autoOpen: false,
        resizable: false,
        width: 400,
        modal: true,
        buttons: {
          "Je suis d'accord": function() {
            $( this ).dialog( "close" );
            $("#Conges-Recuperations").val('1');
          },
          "Annuler ma modification": function() {
            $( this ).dialog( "close" );
            $("#Conges-Mode").val('heures');
          }
        }
      });
      $('#Conges-Mode').on('change', function() {
        conges_mode = $("#Conges-Mode").val();
        conges_recuperations = $("#Conges-Recuperations").val();
        if (conges_mode == 'jours' && conges_recuperations == 0) {
          $( "#confirm" ).dialog( "open" );
        }
      });
    });
  </script>
  {% if warning %}
    <script type='text/JavaScript'>
      CJInfo('{{ warning }}','error');
    </script>
  {% endif %}
  {% if post %}
    {% if error %}
      <script type='text/JavaScript'>
        CJInfo('Il y a eu des erreurs pendant la modification.<br/>Veuillez vérifier la configuration.','error');
      </script>
    {% else %}
      <script type='text/JavaScript'>
        CJInfo('Les modifications ont été enregistrées.','highlight');
      </script>
    {% endif %}
  {% endif %}

  <h3>Configuration</h3>
    <form name='form' action='config' method='post'>
      <input type='hidden' name='page' value='admin/config.php' />
      <input type='hidden' name='CSRFToken' value='{{ CSRFSession }}' />
      <div id='accordion' class='ui-accordion'>
        {% for key,val in elements %}
            <h3><span>{{ key }}</span></h3>
            {% include 'config/category.html.twig' with { 'vars': val } %}
        {% endfor %}
      </div>

      <div style='text-align:center;margin:20px;'>
        <input type='button' value='Annuler' onclick='document.location.href=\"index.php\";' class='ui-button'/>
        &nbsp;&nbsp;&nbsp;
        <input type='submit' value='Valider' class='ui-button' />
      </div>
    </form>

    <div id="confirm" title="Modification du mode de congés">
     Le mode de décompte des congés en jour implique de modifier le paramètre "Conges-Recuperations" en "Dissocier".
    </div>

{% endblock %}
