{# templates/planning/poste/index.html.twig #}
{% extends 'base.html.twig' %}

{% block specificjs %}
<script type="text/JavaScript" src="planning/poste/js/planning.js?version=2.7.11"></script>
{% endblock %}

<div id='divcalendrier' class='text'>
  <form name='form' method='get' action='#'>
    <input type='hidden' id='date' name='date' value='{{ date }}' data-set-calendar=' {{ date }}' />
    <input type='hidden' id='site' name='date' value='{{ site }}' />
    </form>

      <table id='tab_titre'>
        <tr>
          <td>
            <div class='noprint'>
              <div id='pl-calendar' class='datepicker'></div>
            </div>
          </td>

          <td class='titreSemFixe'>
            <div class='noprint'>

