{# planning/poste/tooltip_form.html.twig #}

{# {% if autorisationNotes %} #}
  <div id="pl-tooltip-form" title="Informations" class='noprint' style='display:none;'>
    <p class="validateTips" id='pl-tooltip-tips'>
      Vous pouvez écrire ici un texte qui sera affiché en infobulle lors du survol des cellules.
    </p>

    <form>
      <textarea id='pl-tooltip-text'></textarea>
    </form>
  </div>
{# {% endif %} #}
