# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2.1
executors:
  plb:
    parameters:
      php:
        type: string
        default: '8.3'
      mariadb:
        type: string
        default: '10.11'
    docker:
      - image: jeromecombes/planno-circleci-php:<< parameters.php >>
      - image: cimg/mariadb:<< parameters.mariadb >>
        environment:
          MYSQL_ROOT_PASSWORD: rootplb
          MYSQL_DATABASE: planningb
          MYSQL_USER: plb
          MYSQL_PASSWORD: plb

jobs:
  install-and-test:
    parameters:
      e:
        type: executor
    executor: << parameters.e >>
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            # "composer.lock" can be used if it is committed to the repo
            - v1-dependencies-{{ checksum "composer.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: sleep 1
      - run: zcat data/planno_25.05.xx.sql.gz | mysql --host=127.0.0.1 --port=3306 -u plb --password=plb planningb
      - run: cp .circleci/.env.test.local .env.test.local
      - run: cp .circleci/.env.local .env.local
      - run: rm -rf vendor
      - run: composer install -n --prefer-dist
      - run: bin/console doctrine:migrations:migrate --env=test -n -vv

      - save_cache:
          key: v1-dependencies-{{ checksum "composer.json" }}
          paths:
            - ./vendor

      # run tests with phpunit or codecept
      - run: echo 'xdebug.mode=coverage' | sudo tee -a /etc/php.d/circleci.ini
      - run: ./vendor/bin/phpunit --coverage-text --coverage-clover coverage.xml --bootstrap tests/bootstrap.php tests/
      - run: bash <(curl -s https://codecov.io/bash)

workflows:
  version: 2
  build:
    jobs:
      - install-and-test:
          name: php:8.3
          e:
            name: plb
      - install-and-test:
          name: php:8.2
          e:
            name: plb
            php: '8.2'
            mariadb: '10.6'