{# unsubscribe/index.html.twig #}

{% extends 'base.html.twig' %}

{% block page %}
  {% if not show_menu %}
    <p style="text-align:center;">
      <div id='auth-logo'></div>
    </p>
  {% endif %}

  <div id="content-form">
    <h3>Désinscription</h3>
    <div class="admin-div">
      <p>{{ mail }}</p>
      <input type="button" value="Désinscription" />
    </div>
  </div>

  {% if not show_menu %}
    <p style="text-align:center; margin-top:30px;">
      <a style="font-size:1.5em;" href="{{ asset('login') }}">Retour</a>
    </p>
  {% endif %}

{% endblock %}
