{# agents/elements/change_password_div.html.twig #}
    <div id="reset-password-form" title="Réinitialisation du mot de passe" class='noprint' style='display:none;'>
      <form>

        {% if change_own_password == true %}
            <div>
              <label for="current_password">Mot de passe actuel</label>
              <input class="password-input" type='password' id="current_password" name="current_password"/>
            </div>
            <br />
        {% endif %}

        <div>
          <label for="new_password">Nouveau mot de passe</label>
          <input class="password-input" type='password' id="new_password" name="new_password"/>
        </div>

        <br />

        <div>
          <label for="confirm_new_password">Confirmez le nouveau mot de passe</label>
          <input class="password-input" type='password' id="confirm_new_password" name="confirm_new_password"/>
        </div>

        <br />

        <div class="password-error" id="wrong-current-password">
            Le mot de passe actuel est erroné.
        </div>
        <div class="password-error" id="password-dont-match">
            Les mots de passe ne sont pas identiques.
        </div>
        <div class="password-error" id="password-empty">
            Le nouveau mot de passe ne peut pas être vide.
        </div>
        <div class="password-error" id="password-too-weak">
            Le nouveau mot de passe est trop faible: il doit faire au minimum 8 caractères, et contenir au moins une minuscule, une majuscule, un chiffre et un caractère spécial.
            Les caractères spéciaux sont les suivants: !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
        </div>
        <div class="password-error" id="password-check-error">
            Impossible de vérifier la robustesse du mot de passe. Veuillez contacter votre administrateur.
        </div>
        <div class="password-error" id="current-password-check-error">
            Impossible de vérifier le mot de passe actuel. Veuillez contacter votre administrateur.
        </div>
      </form>
    </div>

