{# agents/elements/change_password_div.html.twig #}
    {% set minimum_password_length = config('Auth-PasswordLength') %}
      <form>

        <div>
          <label for="current_password">Mot de passe actuel</label>
          <input class="password-input" type='password' id="current_password" name="current_password"/>
        </div>
        <br />

        <div>
          <label for="new_password">Nouveau mot de passe</label>
          <input class="password-input" type='password' id="new_password" name="new_password"/>
        </div>
        <br />

        <div>
          <label for="confirm_new_password">Confirmez le nouveau mot de passe</label>
          <input class="password-input" type='password' id="confirm_new_password" name="confirm_new_password"/>
        </div>
        <br />
        <input type="checkbox" id="show_passwords_checkbox" />
        <label for="show_passwords_checkbox">Afficher les mots de passe</a>
        <br />

        <div class="password-success" id="password-changed" style='display:none;'>
            Votre mot passe a bien été changé.
        </div>
        <div class="password-error" id="wrong-current-password" style='display:none;'>
            Le mot de passe actuel est erroné.
        </div>
        <div class="password-error" id="password-dont-match" style='display:none;'>
            Les mots de passe ne sont pas identiques.
        </div>
        <div class="password-error" id="password-empty" style='display:none;'>
            Le nouveau mot de passe ne peut pas être vide.
        </div>
        <div class="password-error" id="password-too-weak" style='display:none;'>
            Le nouveau mot de passe est trop faible: il doit faire au minimum {{ minimum_password_length }} caractères, et contenir au moins une minuscule, une majuscule, un chiffre et un caractère spécial.
            Les caractères spéciaux sont les suivants: !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
        </div>
        <div class="password-error" id="password-check-error" style='display:none;'>
            Impossible de vérifier la robustesse du mot de passe. Veuillez contacter votre administrateur.
        </div>
        <div class="password-error" id="current-password-check-error" style='display:none;'>
            Impossible de vérifier le mot de passe actuel. Veuillez contacter votre administrateur.
        </div>
        <div class="password-error" id="change-password-error" style='display:none;'>
            Impossible de changer votre mot de passe. Veuillez contacter votre administrateur.
        </div>
        <div class="password-input">
        <input type="button" id="cancel-password-change" class="ui-button ui-widget ui-button-type2 ui-corner-all" value="Annuler" />
        <input type="button" id="submit-password-change" class="ui-button ui-widget ui-button-type1 ui-corner-all" value="Valider" />
        </div>
        <br />
        <br />
      </form>
