/*                                */
/* Calendar style sheet           */
/* Feuille de style du calendrier */
/*                                */

/* Style of the main table that contains the calendar   */
/* Style de la table principale contenant le calendrier */
table.calendar_main {
	font-family: Arial, Times, serif;
	font-size: 10px;
}

/* Style for the table tow that is the calendar header (<< month year >>) */
/* Style de la ligne de tableau qui correspond au titre du calendrier     */
/* (<< mois annee >>)                                                     */
.calendar_title {
	color: #000000;
	text-align: center;
}

/* Style of the cell "month year" of the header */
/* Style de la cellule "mois annee" du titre    */
.calendar_title_month {
}

/* Style of the link "month year" of the header */
/* Style du lien "mois annee" du titre          */
.calendar_title_month_clickable {
	color: #000000;
	text-decoration: none;
}

/* Style of the cell that contains the link "<<" in the header */
/* Style de la cellule contenant le lien "<<" du titre         */
.calendar_cell_title_left_arrow {
	text-align: left;
/*	width: 10px;*/
}

/* Style of the link "<<" of the header */
/* Style du lien "<<" du titre          */
.calendar_title_left_arrow_clickable {
	color: #000000;
	text-decoration: none;
}

/* Style of the cell that contains the link ">>" in the header */
/* Style de la cellule contenant le lien ">>" du titre         */
.calendar_cell_title_right_arrow {
	text-align: right;
}

/* Style of the link ">>" of the header */
/* Style du lien ">>" du titre          */
.calendar_title_right_arrow_clickable {
	color: #000000;
	text-decoration: none;
}

/* Global style of the calendar table (that contains the dates)    */
/* Style global de la table du calendrier (qui contient les dates) */
.calendar_table {
	border: none;
	border-collapse: collapse;
	font-size: 10px;
}

/* Generic style of the calendar table cells              */
/* Style generique des cellules de la table du calendrier */
.calendar_table td {
	border: 1px solid #99A9B6;
	color: #000000;
	text-align: center;
	width: 20px;
}

/* Style of the table header cells that contains the days                   */
/* Style des cellules d'en-tete la table du calendrier, contenant les jours */
.calendar_table th {
	background-color: #99A9B6;
	border: 1px solid #99A9B6;
	color: #000000;
	font-weight: normal;
	text-align: center;
}

/* Style of today's cell when non-clickable and during the week          */
/* Style de la cellule d'aujourd'hui lorsqu'elle est non cliquable et en */
/* semaine                                                               */
.calendar_cell_today {
}

/* Style for today's day when non-clickable and during the week       */
/* Style du jour non cliquable et en semaine representant aujourd'hui */
.calendar_today {
	color: #ff0000;
}

/* Style of today's cell when clickable and during the week                  */
/* Style de la cellule d'aujourd'hui lorsqu'elle est cliquable et en semaine */
.calendar_cell_today_clickable {
	color: #ff0000;
	text-decoration: none;
}

/* Style of today's link when during the week                    */
/* Style du lien sur le jour representant aujourd'hui en semaine */
.calendar_today_clickable {
	color: #ff0000;
	text-decoration: none;
}

/* Style of today's cell when non-clickable and during the week-end           */
/* Style de la cellule d'aujourd'hui lorsqu'elle est non cliquable et pendant */
/* le week-end                                                                */
.calendar_cell_weekend_today {
	background-color: #cccccc;
}

/* Style for today's day when non-clickable and during the week-end      */
/* Style du jour (non cliquable et en week-end) representant aujourd'hui */
.calendar_weekend_today {
	color: #ff0000;
}

/* Style of today's cell when clickable and during the week-end               */
/* Style de la cellule d'aujourd'hui lorsqu'elle est cliquable et en week-end */
.calendar_cell_weekend_today_clickable {
	background-color: #cccccc;
}

/* Style of today's link when during the week-end                 */
/* Style du lien sur le jour representant aujourd'hui en week-end */
.calendar_weekend_today_clickable {
	color: #ff0000;
	text-decoration: none;
}

/* Style of a day's (not today) cell when non-clickable and during the week */
/* Style de la cellule d'un jour autre qu'aujourd'hui lorsqu'elle est non   */
/*cliquable et en semaine                                                   */
.calendar_cell_day {
}

/* Style for a day (not today) when non-clickable and during the week */
/* Style d'un jour autre qu'aujourd'hui non cliquable et en semaine   */
.calendar_day {
}

/* Style of a day's (not today) cell when clickable and during the week */
/* Style de la cellule d'un jour autre qu'aujourd'hui lorsqu'elle est   */
/* cliquable et en semaine                                              */
.calendar_cell_day_clickable {
}

/* Style for the links of days (not today) part of the month currently   */
/* displayed                                                             */
/* Style des liens des jours faisant partie du mois en cours d'affichage */
.calendar_day_clickable {
	color: #000000;
	text-decoration: none;
}

/* Style of a day's (not today) cell when non-clickable and during the    */
/* week-end                                                               */
/* Style de la cellule d'un jour autre qu'aujourd'hui lorsqu'elle est non */
/* cliquable et pendant  le week-end                                      */
.calendar_cell_weekend_day {
	background-color: #cccccc;
}

/* Style for a day's (not today) when non-clickable and during the week-end */
/* Style d'un jour autre qu'aujourd'hui non cliquable et en week-end        */
.calendar_weekend_day {
}

/* Style of a day's (not today) cell when clickable and during the week-end */
/* Style de la cellule d'un jour autre qu'aujourd'hui lorsqu'elle est       */
/* cliquable et en week-end                                                 */
.calendar_cell_weekend_day_clickable {
	background-color: #cccccc;
}

/* Style of a day's (not today) link when during the week-end */
/* Style du lien sur un jour autre qu'aujourd'hui en week-end */
.calendar_weekend_day_clickable {
	color: #000000;
	text-decoration: none;
}

/* Style of the table cells that contains non-clickable week days that are */
/* not part of  the monthly currently displayed                            */
/* Style des cellules contenant des jours de semaine non cliquables ne     */
/* faisant pas partie du mois en cours d'affichage                         */
.calendar_cell_other_month {
}

/* Style of the days that contains non-clickable week days that are not part  */
/* of the monthly currently displayed                                         */
/* Style des jours de semaine non cliquables ne faisant pas partie du mois en */
/* cours d'affichage                                                          */
.calendar_other_month {
	color: #999999;
}

/* Style of the table cells that contains clickable week days that are not */
/* part of the monthly currently displayed                                 */
/* Style des cellules contenant des jours de semaine cliquables ne faisant */
/* pas partie du mois en cours d'affichage                                 */
.calendar_cell_other_month_clickable {
}

/* Style for the links of days not part of the month currently displayed */
/* Style des liens des jours ne faisant pas partie du mois en cours      */
/* d'affichage                                                           */
.calendar_other_month_clickable {
	color: #999999;
	text-decoration: none;
}

/* Style of the calendar cells for Saturday and Sunday of non-clickable days */
/* not part of the month currently displayed                                 */
/* Style des cellules du samedi et dimanche pour les jours non cliquables ne */
/* faisant pas du mois en cours d'affichage                                  */
.calendar_cell_weekend_other_month {
	background-color: #cccccc;
}

/* Style of the days for Saturday and Sunday of non-clickable days not part  */
/* of the month currently displayed                                          */
/* Style des cellules du samedi et dimanche pour les jours non cliquables ne */
/* faisant pas du mois en cours d'affichage                                  */
.calendar_weekend_other_month {
	color: #999999;
}

/* Style of the calendar cells for Saturday and Sunday of clickable days not */
/* part of the month currently displayed                                     */
/* Style des cellules du samedi et dimanche pour les jours cliquables ne     */
/* faisant pas du mois en cours d'affichage                                  */
.calendar_cell_weekend_other_month_clickable {
	background-color: #cccccc;
}

/* Style of the days for Saturday and Sunday of clickable days not part of */
/* the month currently displayed                                           */
/* Style des cellules du samedi et dimanche pour les jours cliquables ne   */
/* faisant pas du mois en cours d'affichage                                */
.calendar_weekend_other_month_clickable {
	color: #999999;
	text-decoration: none;
}

/* Style for the calendar footer row (link back to the current month)   */
/* Style de la ligne du pied du calendrier (lien de retour vers le mois */
/* courant)                                                             */
.calendar_footer {
}

/* Style of the cell that contains the link back to the current month used */
/* when the month being displayed is the current month                     */
/* Style de la cellule contenant le lien de retour au mois courant utilise */
/* lorsque le mois affiche est le mois courant                             */
.calendar_cell_footer_current_month_clickable {
	color: #000000;
	text-align: center;
	text-decoration: none;
}

/* Style of the back link inside the cell of class   */
/* .calendar_cell_footer_current_month_clickable     */
/* Style du lien de retour dans la cellule de classe */
/* .calendar_cell_footer_current_month_clickable     */
.calendar_footer_current_month_clickable {
	color: #000000;
	text-align: center;
	text-decoration: none;
}

/* Style of the cell that contains the link back to the current month used */
/* when the month being displayed is not the current month                 */
/* Style de la cellule contenant le lien de retour au mois courant utilise */
/* lorsque le mois affiche n'est pas le mois courant                       */
.calendar_cell_footer_other_month_clickable {
	color: #000000;
	text-align: center;
}

/* Style of the back link inside the cell of class   */
/* .calendar_cell_footer_other_month_clickable       */
/* Style du lien de retour dans la cellule de classe */
/* .calendar_cell_footer_other_month_clickable       */
.calendar_footer_other_month_clickable {
	color: #000000;
	text-align: center;
	text-decoration: none;
}
