/**
Planning Biblio
Licence GNU/GPL (version 2 et au dela)
Voir les fichiers README.md et LICENSE

@file public/themes/default/default.css
@author Jérôme Combes <jerome@planningbiblio.fr>

Description :
Feuille de style principale du programme.
*/

body,a,input,select,textarea,button {
	color:#7D3C25;
	font-family:Verdana;
	font-size:14px;
	}

input:disabled {
	color:grey;
}

input,select,textarea {
	font-size:12px;
	}

body {
	background:url("images/bg_menu.gif") repeat-x top;
	margin-top:0px;
	margin-left:10px;
	}

h3{
  margin-top:25px;
  font-size:13pt;
}

#acces_refuse {
  margin: 60px 0 80px 0;
  width:100%;
  text-align:center;
  font-weight:bold;
}

#auth, #auth input {
  color:#7D3C25;
  text-align: left;

}

#auth-logo{
  margin:15px auto 0 auto;
  width:200px;
  height:80px;
  background:url("images/logo200.png") no-repeat right top;
}

#h2-authentification, #h2-planning-authentification {
  text-align:center;
  margin: 30px 0 30px;
}

#h2-planning-authentification {
  display:none;
}

#logo {
	position: absolute;
	left: 15px;
	top: 12px;
	width:160px;
	height:54px;
	background:url("images/logo160.png") no-repeat right top;
}

#logo2 {
	position: absolute;
	left: 140px;
	top: 23px;
	font-size: 24pt;
	color:#BE541A;
}

#logout_img{
  text-align:right;
  width:42px;
}

#logout_text a{
  font-size:13pt;
  display:none;
}

#title{
  text-align:center;
}

#content{
  margin-top: 10px;
  padding: 80px 5px 5px 5px;
}

#content-auth{
  margin-top: 10px;
  padding: 40px 0 0 0;
  text-align: center;
}

#content-planning{
  margin-top: 10px;
  padding: 40px 0 0 0;
}

#ferie,.ferie,.important {
  color: #FF5E0E;
}

.absences-pj{
  display:inline;
  padding:0 8px;
  white-space:nowrap;
  text-align:center;
}

.absences-pj-fiche{
  display:inline;
  margin-right:40px;
}

/* Absences récurrentes */
#recurrence-summary, #recurrence-summary-form {
  max-width:300px;
  white-space: normal;
}

/* .perso_ul : sélection des agents dans les pages absences/* */
.perso_ul{
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

/* .perso-drop : suppression des agents sélectionés dans les pages absences/* */
.perso-drop{
  float: right;
  margin-left: 10px;
}

/*	Icônes		*/
.pl-icon{
  padding: 5px 8px;
  text-decoration:none;
}

.pl-icon-google-calendar {
  background:url("images/googlecalendar.png") no-repeat center;
}

.pl-icon-valid {
  background:url("images/valid.png") no-repeat center/70%;
}

/* Info-bulles */
.ui-tooltip{
  /* Permet les sauts de lignes avec l'entité .&#013; */
  white-space:pre-wrap;
}

/* Les agents */
li .agent-acces-checked2{
  position:absolute;
  left:550px;
}

/* Importation des agents */
#import-div td {
  padding: 0 10px 0 10px;
}


/* Les tableaux */
.tableauStandard,.tableauFiches{
  border-spacing: 0px;
  border-collapse: collapse;
  margin-top:10px;
}

.tableauStandard td{
  text-align: center;
  vertical-align:top;
  padding: 0 20px 0 20px;
}

.tableauFiches td{
  text-align: left;
  vertical-align:top;
  padding: 0 60px 10px 10px;
  white-space: nowrap;
}

.tableauFiches td:first-child{
  width: 160px;
}

.tableauFiches td:nth-child(2){
  width: 300px;
}

.tableauFiches .td_validation{
  text-align: center;
  padding-top: 20px;
}

.tableauFiches input[type=text]{
  width: 200px;
  text-align:center;
}

.tableauFiches select, .tableauFiches input[type=text].ui-widget-content{
  width: 100%;
}

.tableauFiches textarea{
  width: 100%;
  height: 100px;
} 

.tableauFiches input[type=button],.tableauFiches input[type=submit]{
  margin: 0 20px 0 20px;
}

.tableauFiches .tdValidation{
  padding-top:20px;
  text-align:center;
} 

/* Menu Principal */
/* .logo_td : permet de positionner le menu principal, 1ere cellule avant le 1er item du menu */
.logo_td{
  width:260px;
}

/*		Menu JavaScript		*/
.menu_table{
  position: absolute;
  min-width:200px;
/*  border: 1px solid #7D3C25;*/
}

.menu_table td{
  padding : 1px 10px;
  border: 1px outset #7D3C25;
  border-top: 0px;
}

.menu_table tr:first-child td{
  border-top: 1px outset #7D3C25;
}

.ejsmenu2{
  padding : 5px;
}

.navigation { position:relative;height:30px;}
.popper { position: absolute; visibility: hidden; z-index:20; }
a.ejsmenu, a:hover.ejsmenu {font-size:16px; text-decoration:none; display:inline-block; width:100%;}
a.ejsmenu2, a:hover.ejsmenu2 {font-size:16px; text-decoration:none;font-weight:bold;}



/* Menu top */
.menu_ul{
  margin:0px;
  white-space: nowrap;
  list-style: none;
}

.menu_li{
  display: inline;
  padding: 5px 15px;
}

.menu_li a, .menu_li a:hover{
  font-size:13pt;
}

/* TD du menu top */
li.menu_li:hover {
  background:#FF5E0E;
}

/* TD des sous menu top */
.menu_table{
  margin-top: 15px;
  z-index: 20;
}

td.menu_td2{
	background:#FFFFFF;
	height:20px;
	text-align:center;
	min-width: 230px;
}
td.menu_td2:hover{
	background:#FF5E0E;
}

.myAccountLink{
  font-size:9pt;
}

.myAccountLink:hover{
  color: #FF5E0E;
}

input[type=text],input[type=password]
	{
	width:150px;
	}
select
	{
	width:155px;
	}


#popup {
	background-color:#FFF;
	position:absolute;
	z-index:10;
	}

#opac {
	opacity: 0.5;
	filter: alpha(opacity=50);		/*	Pour IE */
	background:#000;
	height:100%;
	width:100%;
	position:fixed;
	left:0px;
	top:0px;
	z-index:5;
	}

.th{
  background-color:#FF7F3F;	/*FF5E0E;*/
  font-weight:bold;
  white-space: nowrap;
}

.tr1{
  background-color:#FFD8C4;
}

.tr2{
  background-color:#FFFFFF;
}

.striped{
  text-decoration:line-through;
}

.aLeft{
  text-align:left;
}

.aRight{
  text-align:right;
}

.green{
  color:green;
}

/* .out-of-work-time avant .red dans le CSS : permet de donner la priorité au red (absences) par rapport au out-of-work-time (heures de présence) dans le marquage des absences et congés dans le planning */
.out-of-work-time {
  color: #6D2C15;
}

/* .red avant .orange dans le CSS : permet de donner la priorité au orange (congés) par rapport au red (absences) dans le marquage des absences et congés dans le planning */
.red{
  color:red;
}

.orange{
  color:#FFA500;
}

.pointer{
  cursor:pointer;
}

/*		Plannings				*/
/* Calendrier, titre (Semaine ...), Boutons de droite */
#divcalendrier {
  margin : 10px 0 0 0;
}

.pl-validation {
  margin: 0 0 10px 0;
}

#planning-semaine #td_boutons{
  padding:30px;
}

}
.pl-semaine-header{
  text-align: left;
  margin: 50px 0 5px 0;
  width: 100%;
}

.pl-semaine-date{
  font-size: 16pt;
  font-family: bold;
}

.pl-semaine-validation{
  margin: 10px 0 0 0;
  position: absolute;
  right:10px;
}

#planningTips {
  margin: 20px 0px;
  color: #FF5E0E;
  font-weight: bold;
  display: none;
}

#date_planning, #semaine_planning {
  margin-top: 6px;
  font-weight:bold;
}

#semaine_planning{
  display:none;
}

/*
table #tabsemaine1 .tabsemaine1
    -----------------------------------------------------------------------------------------------------
tr .tr_horaires		|   td					|   td					|
    -----------------------------------------------------------------------------------------------------
tr  | td .td_postes	|   td >				|   td >				|
    | [.td_obligatoire]	|	div .cellDiv > span .cellSpan	|	div .cellDiv > span .cellSpan	|
    | [.td_renfort]	|	div .cellDiv > span .cellSpan	|	div .cellDiv > span .cellSpan	|
    |			|	div .cellDiv > span .cellSpan	|	div .cellDiv > span .cellSpan	|
    -----------------------------------------------------------------------------------------------------
tr  | td .td_postes	|   td >				|   td >				|
    | [.td_obligatoire]	|	div .cellDiv > span .cellSpan	|	div .cellDiv > span .cellSpan	|
    | [.td_renfort]	|	div .cellDiv > span .cellSpan	|	div .cellDiv > span .cellSpan	|
    |			|	div .cellDiv > span .cellSpan	|	div .cellDiv > span .cellSpan	|
    -----------------------------------------------------------------------------------------------------
tr .tr_separation
    -----------------------------------------------------------------------------------------------------
tr  | td .td_postes	|   td >				|   td >				|
    | [.td_obligatoire]	|	div .cellDiv > span .cellSpan	|	div .cellDiv > span .cellSpan	|
    | [.td_renfort]	|	div .cellDiv > span .cellSpan	|	div .cellDiv > span .cellSpan	|
    |			|	div .cellDiv > span .cellSpan	|	div .cellDiv > span .cellSpan	|
    -----------------------------------------------------------------------------------------------------
tr .tr_espace
*/

/*	Catégories, lignes du planning, en fonction de la catégorie requise par le poste	*/
/*
.tr_CategorieA td{
}

.tr_CategorieA td.td_obligatoire{
}

.tr_CategorieB td{
}

.tr_CategorieB td.td_obligatoire{
}

.tr_CategorieC td{
}

.tr_CategorieC td.td_obligatoire{
}

td.cellule_grise{
}
*/

/*	Cellules et Statuts
class cellule = cellule par défaut
.statut_xxx	 = complète le style de la cellule en fonction du statut
.service_xxx	 = complète le style de la cellule en fonction du service
*/
/*
.statut_moniteur, td.statut_moniteur{
  background:yellow;
}
*/


#tabsemaine1, .tabsemaine1 {
  width:100%;
  empty-cells:show;
}

#tabsemaine1 tr{
}

#tabsemaine1 td, .tabsemaine1 td{
  border-width : 1px;
  border-style : outset;
}

/* tabsemaine1 est un div sur la page semaine.php : permet l'affichage des tableaux masqués */
div#tabsemaine1{
  margin: 20px 0 0 0;
}

.tr_horaires, .tr_separation, .tr_horaires a{
  background: #7D3C25;
  color:#FFFFFF;
  font-size:12pt;
  font-weight:bold;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  left: 0;
  z-index: 3;
}
.sticky-line {
  background: inherit;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}
.sticky-col {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 1;
}
.td_sep {
  background: inherit;
}

/* tr_espace : permet d'ajouter un espace entre les tableaux : ex: display:block; height:20px; */
.tr_espace{
  display: none;
  height:20px; 
}

#tabsemaine1 tr.tr_espace td,
.tabsemaine1 tr.tr_espace td{
  border: none;
}

.td_postes {
  width:192px;
  font-size:12pt;
  font-weight: bold;
  white-space: nowrap;
}

.td_obligatoire{
  background:#00FA92;
}

.td_renfort{
  background:#FFFFFF;
}

.cellDiv{
}

.cellSpan{
  display:block;
  padding:3px;
  white-space: nowrap;
}

#afficheTableaux{
  text-align: left;
  margin: 2px 0 10px 0;
}

.noteBasDePage{
  text-align:left;
  padding-top:30px;
  font-style:italic;
  font-size:10pt;
}

.menudiv-titre{
  background:#7B7B7B;
  color:#FFFFFF;
  text-align:center;
  text-decoration:none;
  font-size:11.0pt;
  font-family:Verdana;
  font-weight: bold
}

#menudiv1{
  position:absolute;
  z-index:10;
  width:250px;
  overflow:auto;
}

#menudiv2{
  position:absolute;
  z-index:20;
  width:250px;
  overflow:auto;
}

#menudivtab1, #menudivtab2{
  position:absolute;
  cursor:pointer;
  background: #FFFFFF;
  width: 100%;
}

#menudivtab1 td{
  padding-left: 15px;
}

#menudivtab2 td{
  padding-left: 10px;
}

.menudiv-tr:hover{
  background:#CCCCCC;
}

.menudiv-tr td{
  height: 25px;
  white-space: nowrap;
}

.menudiv-tr td:first-child{
  width: 220px;
  font-weight:normal;
}

.menudiv-tr a{
  text-decoration: none;
  font-size: 1.2em;
}

.menudiv-nom{
  font-weight: bold;
  white-space:nowrap;
}

.menudiv-heures{
  width:100%;
  text-align:right;
  white-space:nowrap;
  font-style: italic;
  font-size: 0.95em;
}

.menuTrigger {
  position: relative;
}

.arrow-right {
  background:url("images/arrow-right-16.png") no-repeat center;
  z-index:7;
  display: none;
  position:absolute;
  right: -15px;
  top: calc(50% - 8px);
}

/* Configuration des tableaux */
.tableaux-cfg {
  display: inline-block;
  min-width:500px;
  width: 30%;
  vertical-align:top;
  padding: 0 15px;
}


#tab_titre{	/* planning/poste/index.php */
  width:100%;
  border: none;
}

/* Calendrier affiché en haut des plannings */
#pl-calendar{
  border:0;
  background: #FFFFFF;
  margin: 0 0 10px 12px;
}

#pl-calendar .ui-datepicker {
  font-size:75%;
}


#pl-calendar .ui-datepicker a{
  font-size:110%;
}

.pl-highlight {
  background: #f0e68c;
}

/* Notes affichées en bas des plannings */
#pl-notes-div1, .pl-notes-div1{
  margin: 20px 0 0 0;
  border : 1px solid #7D3C25;
  border-radius: 5px;
  padding: 10px;
}

#pl-notes-div2{
  position: absolute;
  left: 10px;
  display: inline-block;
  margin: 5px 0 0 0;
  text-align: left;
}

#pl-notes-div1-validation{
  display: inline-block;
  width: 100%;
  text-align: right;
  padding: 5px 0;
}

#pl-appelDispo-sujet,
#ics-url-subject{
  width: 100%;
}

#pl-appelDispo-text{
  width: 100%;
  height: 200px;
}

#ics-url-text{
  width: 100%;
  height: 160px;
}

#pl-notes-text{
  width: 100%;
  height: 240px;
}

.empty-line,
.hidden-table{
  display: none;
}

.print_only
	{
	font-size:13px; 
	display:none;
	}

.menu
	{
	background:white;
	text-decoration:none;
	font-size:10.0pt;
	font-family:Verdana;
	font-weight: bold;
	z-index:3;
	}
	
.menuRed
	{
	color:#FF5E0E;
	background:white;
	text-decoration:none;
	font-size:10.0pt;
	font-family:Verdana;
	font-weight: bold;
	z-index:3;
	}

a:hover.menuRed, a:hover.menu {
	color:#FF5E0E;
	font-size:10.0pt;
}

.menu2
	{
	color:#7D3C25;
	background:white;
	text-decoration:none;
	font-size:8.0pt;
	font-family:Verdana;
	font-weight: bold
	}
	
.menu2Red
	{
	color:red;
	background:white;
	text-decoration:none;
	font-size:8.0pt;
	font-family:Verdana;
	font-weight: bold
	}

.right
	{
	color:#7D3C25;
	text-decoration:none;
	text-align:right;
	font-size:10.0pt;
	font-family:Verdana;
	font-weight:normal;
	}

.text,.text_clic
	{
	color:#000000;
	text-decoration:none;
	font-size:9.0pt;
	font-family:Verdana;
	}

.titre
	{
	position:absolute;
	top:50px;
	left:380px;
	color:white; 
	font-size:32.0pt;
	font-family:Verdana;
	}

.titreSemFixe{
  color:#7D3C25;
  text-decoration:none;
  font-size:10.5pt;
  font-family:Verdana;
  width:50%;
  text-align:center;
}

.top-button-div {
    text-align:right;
    margin: 0 10px 30px 0;
}

#tab_jours{	/*	planning/poste/index.php	*/
  margin : 5px auto 0px auto;
  text-align:center;
}

.tr
	{
	color:#FFF;
	text-decoration:none;
	font-size:11.0pt;
	font-family:Verdana;
	font-weight: bold
	}

.cellule_grise {
	text-align:center;
	background:#FFCCB3;
	}

/*																				*/
/*	Setup																		*/
/*																				*/
#setup #auth-logo{
  position:relative;
  margin: 20px;
}

#setup input[type=text], #setup input[type=password]{
	width:300px;
	margin:2px;
	}

#setup input[type=checkbox]{
  margin:4px;
}
#setup fieldset{
	width:640px;
	padding: 20px;
	}

	
#aide {
	margin:0px 80px 0px 30px;
	text-align:justify;
	}
	
#aide h3 {
	margin-top:30px;
	margin-bottom:10px;
	}
#aide h4 {
	margin-left:20px;
	margin-top:30px;
	margin-bottom:10px;
	}
#aide h5 {
	font-size:12pt;
	margin-left:40px;
	margin-top:30px;
	margin-bottom:10px;
	}

#a_retour {
  position:fixed;
  right:40px;
  bottom:40px;
}

/*	Messages d'informations		*/
#messages_infos {
	color:#FF5E0E;	
	font-weight:bold;
	font-size:13pt;
}

img{
  border: none;
}

#tab_titre tr{
  vertical-align:top;
}

#cal_ifram{	
  width:200px;
  height:160px;
}

#td_boutons{
  width:25%;
  text-align:right;
}

#validation{
  font-size:13px;
  margin:10px 20px 0 0;
}

#imprimante{
  cursor:pointer;
}

#choix_tableaux{
  margin: 20px 15px;
}

#choix_tableaux td{
  width:200px;
  padding: 10px 0;
}

#choix_tableaux select{
  width:180px;
}

#tableau, .tableau{
  text-align:center;
}

/*	Jours Fériés	*/
#joursFeries table{
  width:1024px;
  margin-top:30px;
}

#joursFeries .c350{
  width:300px;
}

#joursFeries .c100{
  width:100px;
}

.intitule, label{
  font-weight: bold;
  white-space: nowrap;
}

/* Elements "sortable" (gestion des motifs d'absences, des statuts des agents */
ul[id$="-sortable"] { list-style-type: none; margin: 0; padding: 0; }
ul[id$="-sortable"] li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; height: 18px; }
ul[id$="-sortable"] li span { position: absolute; margin-left: -1.3em; }

.bold{
  font-weight:bold;
}

option.bold{
  margin-top:3px;
}

.center{
  text-align:center;
}

.inline{
  display: inline;
}

.nowrap{
  white-space:nowrap;
}

.padding20{
  padding-left:20px;
}

/* Statistiques */
#stat-col1{
  width:350px;
}

#stat-col1 select,#stat-col1 input[type=text] {
  width:250px;
}

#stat-col1 textarea {
  width:244px;
}

#stat-temps-aff-grp{
  margin: 0 0 0 30px;
}

.statistiques-heures{
  text-align:right;
  white-space:nowrap;
}

#table_temps{
  text-align:center;
}

div.presents-absents {
  width: 1000px;
  margin-left: 25px;
}

/*	FixedColumns	*/
.DTFC_LeftBodyLiner{
  overflow:hidden;
}

.bg-yellow{
  background:yellow;
}

/*	DataTables */
.dataTable tbody tr.odd {
  background-color:#FFD8C4;
}

.dataTable tbody tr.odd td.sorting_1,
.dataTable tbody tr.odd td.sorting_2,
.dataTable tbody tr.odd td.sorting_3{
  background-color:#FFBE9D;
}

.dataTable tbody tr.even td.sorting_1,
.dataTable tbody tr.even td.sorting_2,
.dataTable tbody tr.even td.sorting_3{
  background-color:#FEE7DC;
}

.fg-toolbar {
    color: inherit;
}

.dataTables_wrapper .dataTables_filter input,
.dataTables_wrapper .dataTables_length select {
    background-color: #fff;
}

.dt-buttons {
    width: 100%;
    text-align: right;
}

/*	JQuery-UI Accordion	*/
.ui-accordion .ui-accordion-header{
  margin-bottom: 0px;
}

/*	Agenda	*/
#div_agenda{
  min-height:400px;
}

#div_agenda .information{
  display: inline-block;
}

#tab_agenda td{
  vertical-align: top;
}

#tab_agenda td{
  border-right : 1px outset;
  border-bottom : 1px outset;
  border-radius : 0 0 5px 0;
}

#div_agenda .div_date{
  font-weight:bold;
  text-decoration:underline;
  margin-bottom:10px;
  text-align:center;
}

#div_agenda ul{
  margin-top:0px;
  padding-left:20px;
}

#div_agenda .postes{
  margin-top: 10px;
}

/* Agents volants */
#date_planning.volants-title{
  width: 600px;
  margin: 0 auto 80px;
  text-align: center;
}

.volants-calendar{
  z-index: 10;
  position: absolute;
  top: 100px;
}

#volants-content{
  margin: 100px auto;
  width: 1080px;
}

#volants-dispo-div,
#volants-buttons-div,
#volants-selectionnes-div,
#volants-validation{
  display: inline-block;
  vertical-align: top;
  width: 300px;
  float: both;
}

#volants-buttons-div,
#volants-calendar{
  margin-top : 45px;
}

#volants-buttons-div{
  padding-top: 90px;
  text-align: center;
  width: 240px;
}

#volants-validation{
  padding-top: 45px;
  text-align: right;
  width: 220px;
}

#volants-buttons-div input,
#volants-validation input{
  width: 180px;
}

#volants-dispo-div select,
#volants-selectionnes-div select{
  height: 400px; 
  width: 300px; 
  font-size: 1em;
}

.statut_volants{
   background: #D5F5E3;
}

/*	Footer	*/
.footer{
  text-align:center;
  margin:50px 30px 0 0;
  opacity:0.7;
  font-size:9pt;
  width:100%;
}

/*	Congés	*/
#tableConges td{
  white-space: nowrap;
}/**
Planning Biblio
Licence GNU/GPL (version 2 et au dela)
Voir les fichiers README.txt et COPYING.txt
@copyright 2020 Jérôme Combes

@file : public/themes/softness/softness.css
@author Jérôme Combes <jerome@planningbiblio.fr>
@author Sarah Deborde <sarah.deborde@outlook.fr>

@desc
included by templates/base.html.twig, public/include/header.php and public/setup/header.php
*/

/*
 * Softness
 * Blue : #1e4c67 / RGB : 85 135 162
 * Light Blue :  #e7f0f9 / RGB : 231 240 249
 * Teal : #00656b / RGB : 0 101 107
 * Yellow : #ffd700 / RGB : 255 215 0
 * Red : #da1f27 / RGB : 218 31 39
 *
 * Old
 * Red : #EF3340
 * Grey : #333
 * White : #FFFFFF
 * bleu : #009dd9 / pâle : #ccecf8 / texte : #0f6fc6
 * rouge : #644946 / pâle : #ebd5d3 / texte : #d34717
 * version 2 : rouge rouge c1322a
 * jaune : #d7af0d / pâle : #efe0a3 / texte :
 * version 2 : jaune : d7c942 /
 * jaune
 * général bleu : 2da2bf , abdae6 , d5edf3
 * général rouge : da1f27
 */
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');
* :not(.fa){
  font-family: 'Open Sans', sans-serif;
}
body{
  font-family: 'Open Sans', sans-serif;
  background: #FFFFFF;
  font-size : 15px;
}

.menu_li a, .menu_li a:hover {
	font-size: 14pt;
}

#auth {
  display: inline-block;
  width: 600px;
  min-height: 370px;
  margin: 0 auto -40px 0;
  border-radius: 5px;
}

#auth-logo {
  content: '';
  background: url("images/Planning.svg") no-repeat center bottom;
  background-size: 100%;
}

#auth  #title{
  position: relative;
  padding-top: 10px;
}

#auth  #title::after{
  content:"";
  position: absolute;
  bottom: 0;
  left: 25%;
  right: 25%;
  width : 50%;
  height: 0.5em;
  border-bottom: 1px solid #ffd700;
}

#auth h2{
  margin: 10px 0 10px 0;
  font-family: 'Open Sans';
}

#auth table{
  margin: 0 0 0 0px;
}

#content-auth #auth{
  position: relative;
}

#content-auth #auth form[action="authentification.php"]{
  background: #e7f0f9;
  border-radius: 5px;
  padding : 15px 10px;
  width : 75%;
  position: absolute;
  left : 10%;
  right : 10%;
  font-size : 16px;
}

#content-auth #auth form input[type="text"], #content-auth #auth form input[type="password"]{
  color: #00656b;
  font-size : 14px;
}

#logo {
  margin-left: 3px;
  margin-top: 0px;
  width:155px;
  height:50px;
  background:url("images/logoBlack.png") no-repeat right top;
}

.navigation, #topgauche{
    background: white;
    color: #1e4c67;
    white-space:nowrap;
    height: 70px;
    border-bottom: 3px solid;
    border-bottom-color: #ffd700;
    padding-bottom: 10px;

}
td.menu_td2{
  border-color: transparent;
}

td.menu_td2, td.menu_td2:hover{
  background-color: transparent;
}

#content {
    padding: 60px 5px 5px 5px;
}

.fa-stack:hover .fa-square, .fa-stack:hover .fa-circle  {
  color: #ffd700 !important;
}

.fa-stack .fa-clone, .fa-stack .fa-pencil-square-o{
  color : #fff;
}

.fa-stack .fa-clone:hover, .fa-stack .fa-pencil-square-o:hover{
  color : #1e4c67 !important;
}

#content-planning{
  padding: 0px 0 0 0;
}

.titreSemFixe{
  padding-top:20px;
}

#td_boutons{
  padding-top:15px;
}

.td_postes {
  font-family: 'Open Sans';
  font-weight:bold;
  min-width: 200px;
  padding:4px 10px;
  white-space:nowrap;
}

.tabsemaine1 tr {
  background : none;
}

.tabsemaine1 tr:not(.pl-line, .tr_espace) td{
  background-color: #1e4c67;
}

.tabsemaine1 tr:not(.pl-line, .tr_espace) td:first-child{
  border-top-left-radius : 10px;
  height: 35px;
  
}

.tabsemaine1 tr:not(.pl-line, .tr_espace) td:last-child{
  border-top-right-radius : 10px;
}

.tr_horaires, .tr_horaires .td_postes, .tr_separation, .tr_separation .td_postes{
  color:#ffd700;
  font-family: 'Open Sans';
  font-weight:bold;
  padding:0 4px;
  height: 25px;
}

body,a,input,select,textarea,button,#auth, .menu2, .right,.titreSemFixe{
  color:#333;
}

#ferie,.ferie, .menuRed, a:hover.menuRed, a:hover.menu, .important, #messages_infos,.myAccountLink:hover {
  color: #da1f27;
}

td.menu_td:hover,td.menu_td2:hover,.th, td.menu_td2:hover a, #auth input[type="submit"] {
  color: #FFFFFF;
}

.menu_li{
  transition: all 0.2s linear;
}

.menu_li a {
  color:  #1e4c67;
}

.menu_li:hover a{
  color: #ffd700;
}

.icones{
  color : #1e4c67;
}

li.menu_li:hover {
  background: #1e4c67;
  padding: 15px;
  border-radius : 5px;
  color: #fff;
}

td.menu_td{
  padding-top: 7px;
}

.menu_table:not(:empty){
  margin-top: 15px;
  top: 51px !important;
  background-color:#fff;
  border : 1px solid #1e4c67;
  border-radius: 10px;
  border-collapse: separate;
}

.menu_table tbody{
  border-radius: 10px;
}

.menu_table tr:first-child td{
  border-top: none;
}

.ejsmenu{
  margin-left: -5px;
  color: #000;
  padding: 2px 5px;
}

.ejsmenu:hover{
  background-color: #1e4c67 ;
  font-weight: bold;
  color: #ffd700 !important;
  border-radius: 10px;
}

.ui-state-active{
  background: #ffd700 !important;
}

.ui-state-hover{
  background: #ffd700  !important;
}

#accordion div tr:nth-child(2n){
  background-color: #e7f0f9;
}
#accordion .ui-widget-header{
  background : #1e4c67;
}

.ui-widget-header{
  color: #fff;
}

#joursFeries table, #menudivtab1, tbody table {
  border-collapse: separate;
}

#menudivtab1{
  border-radius: 10px;
}

tbody table{
  border : none;
}

table .th {
  background : none;
}

table .th td{
  padding: 10px;
  background : #1e4c67;
}

table .th td:not( td:last-child) {
  border-right: solid 1px #fff;
}
table .th:first-child td:first-child, #menudivtab1 .menudiv-titre:first-child {
  border-top-left-radius: 10px;
}
table .th:first-child td:last-child, #menudivtab1 .menudiv-titre:last-child {
  border-top-right-radius: 10px;
}

#joursFeries form:first-of-type{
  margin-bottom: 10px;
}

#menudivtab1 .menudiv-titre:first-child{
  background-color: #1e4c67;
}

.menudiv-tr:hover{
  background: #ffd700;
  text-decoration: underline;
}

#content>form:not([action="/skill"], [action="index.php"], [action="config"]), #content #form {
  background: #e7f0f9;
  border-radius: 10px;
  padding: 10px;
  width: 55vw;
}

#content form[name="form2"], #content form.noprint, #content form[name="form1"], #content form[action="#"]{
  width: auto;
  background: none;
}

#content form:not(.noprint, [name="form2"], #stat-col1:first-child) table{
  width: 100%;
}

#content #stat-col1:first-child form{
  width: inherit;
  background: #e7f0f9;
  border-radius: 10px;
  padding: 10px;
}

textarea, input{
  border-radius: 5px;
  border: 1px solid lightgray;
}

#content form .ui-button:hover, #boutons>.ui-button:hover, .ui-tabs li[aria-controls="ui-id-10"]:hover,.ui-tabs li[aria-controls="ui-id-12"]:hover, #joursFeries .ui-button:hover{
  background: #ffd700;

}

input[value="Rechercher"]:hover, input[value="Réinitialiser"]:hover{
  background: #00656b !important;
  color : #fff !important;
}


#content form[action="/agent"], .ui-tabs .ui-tabs-panel  {
  background: #e7f0f9;
}
#form select:not(.checkdate), #form textarea{
  width : 100% !important;
}

#form #debut, #form #fin {
  width : 50% !important;
}

div:not(#dialog-form) .tableauFiches tbody tr:last-child td {
  text-align: center;
}

button[title="Close"]{
  background : #fff;
  color : #1e4c67;
}

button[title="Close"]:hover{
  background : #fff;
  color : red;
}


a:hover .icones .fa:not(.icones .fa-sign-out, .icones .fa-repeat, .icones .fa-exclamation, .icones .fa-plus){
  color:  #00656b;
}

a:hover .icones .fa-trash:not(#validation .fa-trash), .icones:hover .fa-trash:not(#validation .fa-trash){
  color: red;
}


a:hover .icones .fa-plus, .icones:hover .fa-plus{
  color: green;
}

.icones .fa-2x{
  font-size: 1.75em;
}

.odd .icones .fa-repeat{
  -webkit-text-stroke: 2px #dde7ec;
}

.even .icones .fa-repeat{
  -webkit-text-stroke: 2px #fff;
}

.odd .icones .fa-exclamation{
  -webkit-text-stroke: 1px #dde7ec;
}

.even .icones .fa-exclamation{
  -webkit-text-stroke: 1px #fff;
}

#validation .icones{
  width: 2em;
  height: 2em;
}

#validation .icones:hover{
  transform: scale(1.5);
}

input[type=checkbox]{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border-radius: 4px;
  height: 1.5em;
  width: 1.5em;
  background: #fff;
  border: 1px solid #00665b;
}

input[type=checkbox]:hover{
  background: #ffd700;
}

input[type=checkbox]:checked{
  background: #00665b;
  position: relative;
  transition: all 0.2s ease-out;
}

input[type=checkbox]:checked:before {
  font-family: FontAwesome;
  content: '\f00c';
  display: block;
  color: #fff;
  font-size: 1em;
  position: absolute;
  left: 2px;
  top: 2px;
  -webkit-text-stroke: 1px #00656b;
}

.ui-state-highlight, .ui-state-error{
  background-image: none !important;
}

.orange{
  color: #00656b;
  font-style: italic;
}

.fa-eye {
  color: #ffd700;
}

.fa-eye:hover {
  color: #fff !important;
}

/* Notes affichées en bas des plannings */
#pl-notes-div1, .pl-notes-div1{
  border : 1px solid #1e4c67;
}

#joursFeries table tbody tr:not(:first-of-type) td:nth-child(3), #joursFeries table tbody tr:not(:first-of-type) td:nth-child(4) {
  text-align: center;
}

div:not(#tablePlanningHebdo_paginate, .dataTables_paginate) .ui-button:not(.ui-dialog-titlebar-close, #pl-notes-button, #working_hours div:nth-child(2) .ui-button, #table-list_paginate .fg-button, #table-groups_paginate .fg-button, #table-separations_paginate .fg-button, #accordion+div .ui-button), #tablePresenceMonCompte_wrapper .dt-button{
  border : 1px solid #00656b;
  border-radius: 10px;
  background-color: #fff;
  color : #00656b;
}

div:not(#tablePlanningHebdo_paginate, #boutons) .ui-button:not(.ui-dialog-titlebar-close, #pl-notes-button, #working_hours div:nth-child(2) .ui-button, #accordion+div .ui-button):hover, #tablePresenceMonCompte_wrapper .dt-button:hover{
  background: #00656b;
}

div.dt-buttons .dt-button:hover > span{
  color: #fff;
}

#tablePlanningHebdo_paginate .ui-button:hover, #auth input.ui-button:hover{
  background: #fff;
  color : #00656b;
  text-decoration: underline !important;
}

.ui-tabs [role="tablist"]{
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  border-bottom: #00656b 1px solid;
}

.ui-tabs li[role="tab"]:not([aria-controls="ui-id-10"],[aria-controls="ui-id-12"]):hover{
  background : #fff !important;
  color :  #00656b !important;
}

.ui-tabs .ui-state-active[role="tab"] {
  background: #e7f0f9 !important;
  border: 1px solid #e7f0f9;
}

.ui-tabs li[aria-labelledby="ui-id-9"]:hover, #tabs .ui-tab-cancel:hover{
  background-color: #FF5E5E !important;
}
.ui-tabs li[aria-labelledby="ui-id-11"]:hover, #tabs .ui-tab-submit:hover{
  background-color: lightgreen !important;
}

.ui-tabs li[aria-labelledby="ui-id-9"], .ui-tabs li[aria-labelledby="ui-id-11"],  #tabs .ui-tab-cancel, #tabs .ui-tab-submit{
  background : #fff !important;
}

.ui-tabs li[aria-labelledby="ui-id-9"] a, .ui-tabs li[aria-labelledby="ui-id-11"] a,  #tabs .ui-tab-cancel a, #tabs .ui-tab-submit a{
  color :  #00656b !important;
}


#temps table{
  background-color: #fff;
}
.noprint .ui-button:hover, #choix_tableaux .ui-button:hover{
  background : #ffd700 !important;
}

.cellule_grise{
  border : none;
}
/*	DataTables */
.dataTable tbody tr.odd {
  background-color: #e7f0f9;
}

.dataTable tbody tr.odd td.sorting_1,
.dataTable tbody tr.odd td.sorting_2,
.dataTable tbody tr.odd td.sorting_3{
  background-color: rgba(85, 135, 162, 0.2);
}

.dataTable tbody tr.even td.sorting_1,
.dataTable tbody tr.even td.sorting_2,
.dataTable tbody tr.even td.sorting_3{
  background-color: rgba(85, 135, 162, 0.2);
}


.tabsemaine1 span{
  font-size: 1.1em;
}

.CJDataTable thead th{
  background: #ffd700;
  color: #1e4c67;
}

.dt-buttons {
  margin-top : 5px;
}

#tab_agenda td{
  border : 1px black solid;
  border-top: none;
  border-radius: 0px;
}
#tab_agenda tr:last-child :first-child{
  border-bottom-left-radius: 5px;
}
#tab_agenda tr:last-child td:last-child{
  border-bottom-right-radius: 5px;
}

#working_hours>div:nth-child(2) .ui-button, #pl-notes-button{
  background: #00656b;
  color : #fff !important;
}

#working_hours>div:nth-child(2) .ui-button:hover, #pl-notes-button:hover{
  background: #ffd700 !important;
  color : #00656b !important;
}
/*
 * bleu : #009dd9 / pâle : #ccecf8 / texte : #0f6fc6
 * rouge : #644946 / pâle : #ebd5d3 / texte : #d34717
 * jaune  : #d7c942 / pâle : #efe0a3 / texte :
 */

.cellSpan{
  font-weight:bold;
}

/* Style en fonction de la classe "poste" des activités */
.animation td{
  font-weight: bold;
}

.animation td.td_postes{
  font-size: 1.6em;
}

.bleu.animation td{
  background: #daf0f8;
  border-top: outset 1px #009dd9;
  border-bottom: outset 1px #009dd9;
}

.jaune.animation td{
  background: #efead7;
  border-top: outset 1px #d7c942;
  border-bottom: outset 1px #d7c942;
}

.rouge.animation td{
  background: #f8dbda;
  border-top: outset 1px #c1322a;
  border-bottom: outset 1px #c1322a;
}

.bg-yellow{
  background-color: #ffe373;

}
/* Style en fonction des classes des tableaux (une classe par bibliothèque ) */
/* Style par défaut */
.tr_horaires, .tr_separation, .tr_horaires a{
  background: #1e4c67;
  color: #ffd700;
}

td.td_obligatoire, td.td_renfort,
td.td_obligatoire select, td.td_renfort select,
td.td_obligatoire a, td.td_renfort a{
  background: #00656b;
  color: #FFF;
}

/*
#tabsemaine1 tr:not(.pl-line) td:not(td:last-child), .tabsemaine1 tr:not(.pl-line) td:not(td:last-child){
  border: 0.1px solid #fff;
  border-right: none;
  border-bottom: none;
}

#tabsemaine1 .pl-line td, .tabsemaine1 .pl-line td {
  border: 0.1px solid #00656b;
}

#tabsemaine1 .pl-line td:not(td:last-child), .tabsemaine1 .pl-line td:not(td:last-child){
  border-right: none;
}

.pl-line td:first-child{
  background: rgba(0, 101, 107, 0.75);
  color : #fff;
}
*/

#div_lignes td.td_obligatoire, #div_lignes td.td_obligatoire>*{
  background: #fff !important;
  color: #000;
}

#div_lignes select{
  background:  #FFF;
}

.sticky, .sticky-line{
    border-color: #FFF;
}

/* Bleu */
.bleu.tr_horaires, .bleu.tr_separation, .bleu.tr_horaires td.td_postes{
  background: rgba(85, 135, 162, 1);
  color: #FFF;
}

.bleu td.td_postes{
  background: rgba(85, 135, 162, 0.3);
  color: #000;
}

/* Jaune */
.jaune.tr_horaires, .jaune.tr_separation, .jaune.tr_horaires td.td_postes{
  background: rgba(100, 192, 164, 1);
  color: #000;
}

.jaune td.td_postes{
  background: rgba(100, 192, 164, 0.3);
  color: #000;
}

/* Rouge */
.rouge.tr_horaires, .rouge.tr_separation, .rouge.tr_horaires td.td_postes{
  background: rgba(242, 178, 174, 1);
  color: #000;
}

.rouge td.td_postes{
  background: rgba(242, 178, 174, 0.3);
  color: #000;
}

/* Violet */
.violet.tr_horaires, .violet.tr_separation, .violet.tr_horaires td.td_postes{
  background: rgba(242, 178, 174, 1);
  color: #000;
}

.violet td.td_postes{
  background: rgba(242, 178, 174, 0.3);
  color: #000;
}

/* Vert */
.vert.tr_horaires, .vert.tr_separation, .vert.tr_horaires td.td_postes{
  background: rgba(100, 192, 164, 1);
  color: #000;
}

.vert td.td_postes{
  background: rgba(100, 192, 164, 0.3);
  color: #000;
}

.tr_espace{
  display: block;
  height:20px;
}

.cellule_grise,.tr1, .animation td.cellule_grise {
  background: #DDD;
}

@media print {
    #content-planning .tableauStandard {
        display: none;
    }
}
