/**
Planno
Licence GNU/GPL (version 2 et au dela)
Voir les fichiers README.md et LICENSE

@file public/themes/default/default.css
@author Jérôme Combes <jerome@planningbiblio.fr>

Description :
Feuille de style principale du programme.

Colors :
* dark-green : #29495C / rgb(41,73,92,1)
* yellow : #FFD700 / rgb(255,215,0,1)
*/

body,a,input,select,textarea,button {
	color: #29495C;
	font-family: Poppins;
	font-size:13px;
	}

b{
  font-weight: normal;
}

.left-border{
  padding: 10px 19px 6px 19px;
  border-left:  1px solid #000;
  border-bottom: 0px;
  border-top: 0px;
  border-right: 0px;
}

input:disabled {
	color:grey;
}

input,select,textarea {
	font-size:13px;
	}

.decalage-gauche{
  width: 90%;
  margin: auto;
}

/* fond de tous le site avec image par transparance */
body {
  background:url("images/background.png") repeat-y top rgba(240, 240, 240, 1);
	margin: 0px 0px 0px 0px;
}

h2 {
  font-size: 28px;
  font-weight: bold;
}

h3 {
  font-size:26px;
  font-weight: bold;
}

h4{
  font-size:18px;
  font-weight: bold;
}

#h3-Multisites{
  margin: 30px 20px auto;
  color: #FFF;
  font-size: 20px;
}

.ui-state-error p,
.ui-state-highlight p {
    margin-top: 15px;
}

#acces_refuse {
  margin: 60px 0 80px 0;
  width:100%;
  text-align:center;
  font-weight:bold;
}
#acces_refuse>div {
  margin: 20px;
}

#auth, #auth input {
  color:#29495C;
}

#auth-logo{
  margin:15px auto 0 auto;
  width:260px;
  height:50px;
  background:url("images/logo-planno.svg") no-repeat right top;
}

#auth input {
  width: 150px;
}

#h2-authentification, #h2-planning-authentification {
  text-align:center;
  margin: 30px 0 30px;
}

#h2-planning-authentification {
  display:none;
}

.logo-thumbnail {
  width: 48px;
  height: 36px;
  background:url("images/logo-thumbnail.svg") no-repeat center;
}

#logo {
  width: 239px;
  height: 43px;
  background:url("images/logo-planno.svg") no-repeat left top;
}

#mainMenu {
  max-height: 68px;
}

#accountDiv {
  display: block;
  margin: 10px 25px 0 0;
}

#accountDiv div {
  display: inline-block;
}

#accountDiv #username {
  margin: 0 10px 0 0;
  font-size: 19px;
}

#accountDiv #logoutIcon {
  vertical-align: middle;
  width: 28px;
  height: 24px;
}

#accountDiv #myAccountDiv {
  display: block;
  margin: 0 42px 0 0;
  text-align: right;
}

#accountDivReverse {
  display: none;
}

#logo2 {
	position: absolute;
	left: 140px;
	top: 23px;
	font-size: 24pt;
	color:#BE541A;
}

#logout_img{
  text-align:right;
}

#title{
  text-align:center;
}

#content{
  width: 90%;
  margin: 50px auto auto auto;
  padding: 5px;
}

.content-div{
  width: 100%;
  background: #FFF;
  border-radius: 5px;
  padding: 10px;
}

#content-auth{
  margin-top: 10px;
  padding: 40px 0 0 0;
}

#content-planning{
  padding: 0 0 0 0;
}

#ferie,.ferie{
  color: #DC3545;
  margin: 15px 0 5px 0;
}

.important{
  color: #DC3545 !important;
}


.absences-pj{
  display:inline;
  padding:0 8px;
  white-space:nowrap;
  text-align:center;
}

.absences-pj-fiche{
  display:inline;
  margin-right:40px;
}

.absences-motif-div{
  height: 20px;
  font-weight: bold;
  background: #29495C;
  color:#FFF;
}


/* Absences récurrentes */
#recurrence-summary {
  max-width:165px;
  white-space: normal;
}

#recurrence-info {
  display: inline-flex;
}

/* .perso_ul : sélection des agents dans les pages absences/* */
.perso_ul{
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

/* .perso-drop : suppression des agents sélectionés dans les pages absences/* */
.perso-drop{
  float: right;
  margin-left: 10px;
}

/*	Icônes		*/

.bi {
  color : #29495C;
}

.bi.bi-caret-right-fill {
  min-width: 16px;
  visibility: hidden;
  padding-top: 2px;
}

.bi.bi-trash3-fill {
  cursor: pointer;
}

.pl-icon {
  padding: 9px 13px 9px 13px;
  text-decoration:none;
}

.btn.disabled .pl-icon{
  opacity: 65%;
}

.pl-icon-add {
  background:url("images/icon/add_black_18dp.svg") no-repeat center;
}

.pl-icon-add-white {
  background:url("images/icon/add_black_18dp.svg") no-repeat center;
  filter: invert(100%);
}

.pl-icon-copy {
  background:url("images/icon/content_copy_black_18dp.svg") no-repeat center;
}

.pl-icon-drop {
  background:url("images/icon/close_white_24dp.svg") no-repeat center;
}

.pl-icon-dropblack {
  background:url("images/icon/close_black_24dp.svg") no-repeat center;
}

.pl-icon-edit {
  background:url("images/icon/edit_black_18dp.svg") no-repeat center;
}

.pl-icon-google-calendar {
  background:url("images/icon/calendar_month_black_18dp.svg") no-repeat center;
}

.pl-icon-hide {
  background:url("images/icon/visibility_off_white_18dp.svg") no-repeat center;
}

.pl-icon-lock {
  background:url("images/icon/lock_white_24dp.svg") no-repeat center;
}

.pl-icon-logout {
  background:url("images/icon/logout_green_24dp.svg") no-repeat center;
}

.pl-icon-open {
  background:url("images/icon/folder_white_24dp.svg") no-repeat center;
}

.pl-icon-printer {
  background:url("images/icon/print_white_24dp.svg") no-repeat center;
}

.pl-icon-recurring {
  background:url("images/icon/restart_alt_black_18dp.svg") no-repeat center;
}

.pl-icon-refresh {
  background:url("images/icon/refresh_white_24dp.svg") no-repeat center;
}

.pl-icon-save {
  background:url("images/icon/save_white_24dp.svg") no-repeat center;
}

.pl-icon-unlock {
  background:url("images/icon/lock_open_white_24dp.svg") no-repeat center;
}

.pl-icon-valid {
  background:url("images/icon/done_black_18dp.svg") no-repeat center/70%;
}

.pl-icon-trash {
  background:url("images/icon/delete_black_18dp.svg") no-repeat center;
}

.pl-icon-arrowupdown {
  background:url("images/icon/import_export_black_18dp.svg") no-repeat center;
}

.pl-icon-undo {
  background:url("images/icon/undo_white_24dp.svg") no-repeat center;
}

.pl-icon-redo {
  background:url("images/icon/redo_white_24dp.svg") no-repeat center;
}

/* Info-bulles */
.ui-tooltip{
  /* Permet les sauts de lignes avec l'entité .&#013; */
  white-space:pre-wrap;
}

/* Les agents */
li .agent-acces-checked2{
  position:absolute;
  left:550px;
}

/* Importation des agents */
#import-div td {
  padding: 0 10px 0 10px;
}


/* Les tableaux */
.tableauStandard,.tableauFiches{
  border-spacing: 0px;
  border-collapse: collapse;
  margin-top:10px;  
}

.tableauStandard{
  width: 100%;
  margin: 10px 0;
}

.tableauStandard td{
  text-align: center;
  vertical-align:top;
  padding-right: 20px;
}

#EDTTabs .tableauStandard td{
  text-align: right;
  vertical-align:top;
  padding-right: 20px;
}

.table-validation-notification {
  border-spacing: 0px;
}

.table-validation-notification td{
  text-align: left;
  vertical-align:top;
  padding: 0 60px 10px 10px;
  white-space: nowrap;
}

.table-validation-notification td:nth-child(2) {
  width: 60px;
}

.table-validation-notification th {
  padding-bottom: 10px;
  padding-left: 10px;
}

.table-validation-notification .border-right {
  border-right: 1px solid black;
}




.tableauFiches td{
  vertical-align:top;
  padding: 0 60px 10px 10px;
  white-space: nowrap;
}

.tableauFiches td:first-child{
  width: 160px;
}

.tableauFiches td:nth-child(2){
  width: 300px;
}

.tableauFiches .td_validation{
  text-align: center;
  padding-top: 20px;
}

.tableauFiches input[type=text]{
  width: 200px;
  text-align:center;
}

.tableauFiches textarea{
  width: 100%;
  height: 100px;
} 

.tableauFiches input[type=button],.tableauFiches input[type=submit]{
  margin: 0 20px 0 20px;
}

.tableauFiches .tdValidation{
  padding-top:20px;
  text-align:center;
} 

/* Menu Principal */
/* solution temp, il faudrait peut être une class spécifique pour la div top gauche*/
/* solution provoque des bugss dans les tableaux */

/* .logo_td : permet de positionner le menu principal, 1ere cellule avant le 1er item du menu */
.logo_td{
  width:15%;
}

/* Menu Bootstrap */
.navbar {
  background-color: white;
}

@media (min-width: 992px) {
  .dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dropdown-menu[data-bs-popper] {
    left: 50%;
    transform: translateX(-55%);
    margin: 7px 10px 10px 10px;
  }     
}

@media (max-width: 992px) {
  .dropdown {
    display: flex;
    flex-direction:column;
    align-items: end;
  }

  .nav-link{
    display: inline-block;
  }

  .dropdown-item{
    text-align: right;
    font-size: 11pt;
  }

  .navbar-nav .dropdown-menu{
    margin: 15px 0px;
  }
}

.nav-link {
  color: #29495C;
  font-weight: bold;
  font-size: 13pt;
  padding: 5px;
  border-bottom: 5px solid transparent;
}

li.nav-item.dropdown a.nav-link.active, li.nav-item.dropdown a.nav-link.active:hover {
  pointer-events: auto;
  cursor: pointer;
}

li.nav-item a.nav-link.active, li.nav-item a.nav-link.active:hover {
  color: #29495C;
  border-bottom: 5px solid #FFD700;
  pointer-events: none;
  cursor: default;
}

.nav-link:hover, .nav-link.dropdown-toggle.show {
  color: #29495C;
  border-bottom: 5px solid #29495C;
}

ul.dropdown-menu {
  padding: 0px;
}

ul.dropdown-menu a.dropdown-item {
  color: #29495C;
  font-weight: bold;
  font-size: 14px;
  padding-left: 4px;
}

ul.dropdown-menu li {
  display: flex;
}

ul.dropdown-menu li:hover, a.dropdown-item:hover {
  background-color: #FFD700;
}

ul.dropdown-menu li:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

ul.dropdown-menu li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

ul.dropdown-menu a.dropdown-item.active , a.dropdown-item.active:hover {
  background-color: white;
  color: #29495C;
  pointer-events: none;
  cursor: default;
}

.popper { 
  position: absolute; 
  visibility: hidden; 
  z-index:20; 
}

/* Menu top */
.topgauche{
  background-color: #FFFFFF;
}
.menu_ul{
  width: 70%;
  padding: 0;
  margin:0px;
  white-space: nowrap;
  list-style: none;
}

@media only screen and (max-width: 1200px){
  .menu_ul{
    text-align: right;
    width: 100%;
    padding: 0;
    margin:0px;
    white-space: nowrap;
    list-style: none;
  }
}

.menu_li{
  padding: 5px 15px;
}

.days_ul {
  vertical-align: top;
  padding-left: 0px;
}

.days_ul li {
  display: inline;
  padding: 5px 0px;
}

.days_ul li a {
  background: #29495C;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 13.0pt;
  font-family: Poppins;
  font-weight: bold;
  z-index:3;
}

.days_ul li a.active,
.days_ul li a:hover {
  color: #FFD700;
}

/* TD du menu top */
/* maintenant directement le texte qui change de couleur
li.menu_li:hover {
    background: #FFD700;
}
*/

/* TD des sous menu top */
.menu_td{
  padding-left: 30px;
}

td.menu_td2{
	background:#FFFFFF;
	height:20px;
	text-align:left;
  border-left: 1px outset #29495C;
  border-right: 1px outset #29495C;
  border-bottom: none;
  border-top: none;
}
td.menu_td2:hover{
	background:#FFD700;
}

a.myAccountLink {
  font-size:10pt;
  text-decoration: none;
}

a.myAccountLink:hover {
  text-decoration:underline 3px;
  text-underline-offset: 5px;
}

a.myAccountLink.active {
  text-decoration:underline 3px #FFD700;
  text-underline-offset: 5px;
}

.select-popup{
  width: auto;
  height: 20px;
  font-size: 1em;
  position: absolute;
  left: 350px;
}

.th{
  background-color:#FFD700;	
  font-weight:bold;
  white-space: nowrap;
}

.tr1{
  background-color:#DBDFE1;
}

.tr2{
  background-color:#999999;
}

.striped{
  text-decoration:line-through;
}

.aLeft{
  text-align:left;
}

.aRight{
  text-align:right;
}

.green{
  color:green;
}

/* .out-of-work-time avant .red dans le CSS : permet de donner la priorité au red (absences) par rapport au out-of-work-time (heures de présence) dans le marquage des absences et congés dans le planning */
.out-of-work-time {
  color: #5394BA;
}

/* .red avant .orange dans le CSS : permet de donner la priorité au orange (congés) par rapport au red (absences) dans le marquage des absences et congés dans le planning */
.red{
  color:#cd1b19;
}

.orange{
  color:#FFA500;
}

.pointer{
  cursor:pointer;
}

/*		Plannings				*/
/* Calendrier, titre (Semaine ...), Boutons de droite */

.pl-validation {
  margin: 0px 0 10px 0;
  color: #FFFFFF;
  position: absolute;
  right: 175px;
}

/*.pl-undo {
  color: #FFFFFF;
  position: absolute;
  right: 75px;
}

.pl-undo a {
  color: #FFFFFF;
}*/

#planning-semaine {
  padding:30px;
}



.pl-semaine-header{
  text-align: left;
  margin: 25px auto 5px auto;
  width: 90%;
}

.pl-semaine-date{
  font-size: 16pt;
  font-weight: bold;
  background-color:#FFD700;	/*FF5E0E;*/
}


.pl-semaine-validation{
  margin: 10px auto 0 auto;
  position: absolute;
  right: 5%;
}

#semaine_planning{
  display:none;
}

/*
table .tabsemaine1
    -----------------------------------------------------------------------------------------------------
tr .tr_horaires		|   td					|   td					|
    -----------------------------------------------------------------------------------------------------
tr  | td .td_postes	|   td >				|   td >				|
    | [.td_obligatoire]	|	div .cellDiv > span .cellSpan	|	div .cellDiv > span .cellSpan	|
    | [.td_renfort]	|	div .cellDiv > span .cellSpan	|	div .cellDiv > span .cellSpan	|
    |			|	div .cellDiv > span .cellSpan	|	div .cellDiv > span .cellSpan	|
    -----------------------------------------------------------------------------------------------------
tr  | td .td_postes	|   td >				|   td >				|
    | [.td_obligatoire]	|	div .cellDiv > span .cellSpan	|	div .cellDiv > span .cellSpan	|
    | [.td_renfort]	|	div .cellDiv > span .cellSpan	|	div .cellDiv > span .cellSpan	|
    |			|	div .cellDiv > span .cellSpan	|	div .cellDiv > span .cellSpan	|
    -----------------------------------------------------------------------------------------------------
tr .tr_separation
    -----------------------------------------------------------------------------------------------------
tr  | td .td_postes	|   td >				|   td >				|
    | [.td_obligatoire]	|	div .cellDiv > span .cellSpan	|	div .cellDiv > span .cellSpan	|
    | [.td_renfort]	|	div .cellDiv > span .cellSpan	|	div .cellDiv > span .cellSpan	|
    |			|	div .cellDiv > span .cellSpan	|	div .cellDiv > span .cellSpan	|
    -----------------------------------------------------------------------------------------------------
tr .tr_espace
*/

/*	Catégories, lignes du planning, en fonction de la catégorie requise par le poste	*/
/*
.tr_CategorieA td{
}

.tr_CategorieA td.td_obligatoire{
}

.tr_CategorieB td{
}

.tr_CategorieB td.td_obligatoire{
}

.tr_CategorieC td{
}

.tr_CategorieC td.td_obligatoire{
}

td.cellule_grise{
}
*/

/*	Cellules et Statuts
class cellule = cellule par défaut
.statut_xxx	 = complète le style de la cellule en fonction du statut
.service_xxx	 = complète le style de la cellule en fonction du service
*/
/*
.statut_moniteur, td.statut_moniteur{
  background:yellow;
}
*/

.arrondi_tabsemaine_topLeft{
  border-top-left-radius: 5px;
}
.arrondi_tabsemaine_topRight{
  border-top-right-radius: 5px;
}
.arrondi_tabsemaine_bottomLeft{
  border-bottom-left-radius: 5px;
}
.arrondi_tabsemaine_bottomRight{
  border-bottom-right-radius: 5px;
}

.tabsemaine1 {
  width:90%;
  margin: auto;
  empty-cells:show;
}

.tabsemaine1 td {
  height: 30px;
}

.tr_horaires, .tr_separation, .tr_horaires a{
  background: #29495C;
  color:#FFFFFF;
  font-size:11pt;
  font-weight:bold;
}

.tr_horaires td:first-child{
  border-top-left-radius: 5px;
}

.tr_horaires td:last-child{
  border-top-right-radius: 5px;
}

.roundup-tab tr:last-child td:first-child{
  border-bottom-left-radius: 5px;
}

.roundup-tab tr:last-child td:first-child{
  border-bottom-right-radius: 5px;
}

.roundup-tab-left {
  border-bottom-left-radius: 5px;
}

.roundup-tab-right{
  border-bottom-right-radius: 5px;
}

.tr_separation {
  color: #FFD700;
}

.sticky, .sticky-line, .sticky-col {
  background: inherit;
  position: -webkit-sticky;
  position: sticky;
}

.sticky {
  top: 0px;
  left: 0;
  z-index: 3;
}

.sticky-line {
  top: 0px;
  z-index: 1;
  border: #29495C;
}

.sticky-col {
  left: 0;
  z-index: 1;
}

/* tr_espace : permet d'ajouter un espace entre les tableaux : ex: display:block; height:20px; */
.tr_espace{
  display: block;
  height:20px; 
}

.tabsemaine1 tr.tr_espace td {
  border: none;
}

.td_postes {
  width:192px;
  font-size:11pt;
  font-weight: bold;
  white-space: nowrap;
  color: #FFD700;
}

.td_obligatoire{
  background: #DBDFE1;
  color: #29495C;
  border-right: 1px solid #999999;
  border-bottom: 1px solid #999999;
  border-left: 1px solid #999999;

}

.td_renfort{
  background:#FFFFFF;
  color: #29495C;
  border-right: 1px solid #999999;
  border-bottom: 1px solid #999999;
  border-left: 1px solid #999999;
}

.td_postes tr:last-child td{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.cellSpan{
  display:block;
  padding:3px;
  white-space: nowrap;
}

#afficheTableaux{
  width: 90%;
  text-align: left;
  margin: auto;
}

.noteBasDePage{
  text-align:left;
  padding-top:30px;
  font-style:italic;
  font-size:10pt;
}

.menudiv-titre{
  background:#7B7B7B;
  color:#FFFFFF;
  text-align:center;
  text-decoration:none;
  font-size:11.0pt;
  font-family:Poppins;
  font-weight: bold
}

#menudiv1{
  position:absolute;
  z-index:10;
  width:250px;
  overflow:auto;
}

#menudiv2{
  position:absolute;
  z-index:20;
  width:250px;
  overflow:auto;
}

#menudivtab1, #menudivtab2{
  position:absolute;
  cursor:pointer;
  background: #FFFFFF;
  width: 100%;
}

#menudivtab1 tr, #menudivtab2 tr {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

#menudivtab1 td{
  padding-left: 15px;
}

#menudivtab2 td{
  padding-left: 10px;
}

.menudiv-tr:hover{
  background:#CCCCCC;
}

.menudiv-tr td{
  height: 25px;
  white-space: nowrap;
}

.menudiv-tr td:first-child{
  width: 220px;
  font-weight:normal;
}

.menudiv-tr a{
  text-decoration: none;
  font-size: 1.2em;
}

.menudiv-nom{
  font-weight: bold;
  white-space:nowrap;
}

.menudiv-heures{
  width:100%;
  text-align:right;
  white-space:nowrap;
  font-style: italic;
  font-size: 0.95em;
}

.menuTrigger {
  background-color: #FFFFFF;
  position: relative;
  border-right: 1px solid #999999;
  border-bottom: 1px solid #999999;
}

.arrow-right {
  background:url("images/icon/arrow_forward_black_36dp.svg") no-repeat center;
  z-index:7;
  display: none;
  position:absolute;
  right: -15px;
  top: calc(50% - 8px);
}

/* Configuration des tableaux */
.tableaux-cfg {
  display: inline-block;
  min-width:500px;
  width: 31%;
  vertical-align:top;
  padding: 0 15px;
}

.tableaux-cfg h4 {
  margin: 20px 0;
}

#tab_titre{	/* /index */
  width:100%;
  height: 145px;
  border: none;
  background-color: #29495C;
  margin-bottom: 20px;
}

#tab_titre .row {
  justify-content: space-around;
}

/* Calendrier affiché en haut des plannings */
#pl-calendar {
  border:0;
  background: transparent;
  margin: 10px 0 5px 10px;
  width: 200px;
}

.datepicker-inline {
  width: 185px;
  font-size: 11px;
  border: 1px solid #29495C;
  padding: 6px 4px 1px 4px;
}

.datepicker {
  font-size: 12px;
  color: #29495C;
  font-weight: bolder;
}

.datepicker .datepicker-days table thead tr th {
  max-width: 25px;
}

.datepicker td.day {
  width: 25px;
}

.datepicker table tr td span {
  max-height: 40px;
  line-height: 40px;
}

.datepicker .datepicker-months table td,
.datepicker .datepicker-years table td,
.datepicker .datepicker-decades table td,
.datepicker .datepicker-centuries table td {
  padding-top: 5px;
}

.datepicker-days, .datepicker-months, .datepicker-years, .datepicker-decades, .datepicker-centuries {
  display: inline-block;
}

.datepicker table thead th.prev {
  background-color: #FFD700;
  border-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.datepicker table thead th.prev.disabled,
.datepicker table thead th.next.disabled {
  visibility: visible;
  pointer-events: none;
  color: gray;
}

.datepicker table thead th.datepicker-switch {
  background-color: #FFD700;
  border-radius: 0;
}

.datepicker table thead th.next {
  background-color: #FFD700;
  border-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.datepicker table tr td.today,
.datepicker table tr td.today:hover:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
  background-color: #FFD700;
  background-image: none;
  color: #29495C;
  border: none;
}

.datepicker table tr td.active.active,
.datepicker table tr td.active.active:hover,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active.active:hover {
  background-color: #29495C;
  background-image: none;
  color: white;
  border: none;
}

.pl-highlight {
  background: #f0e68c;
}

/* Notes affichées en bas des plannings */
#pl-notes-div1, .pl-notes-div1{
  width: 90%;
  margin: 20px auto 0 auto;
  text-align: left;
  border: 1px solid #29495C;
  border-radius: 5px;
  padding: 5px;
  background: #FFF;
}

#pl-notes-div2{
  width: 100%;
  position: relative;
  left: 5%;
  display: inline-block;
  margin: 15px 10px 0 0;
  text-align: left;
}

#pl-notes-div1-validation{
  width: 90%;
  margin: auto;
  text-align: right;
  padding: 5px 0;
}

#pl-appelDispo-sujet,
#ics-url-subject{
  width: 100%;
}

#pl-appelDispo-text{
  width: 100%;
  height: 200px;
}

#ics-url-text {
  width: 100%;
  height: 170px;
}

#ics-url-recipient {
  width: 100%;
}

#pl-notes-text {
  width: 100%;
  height: 200px;
}

.empty-line,
.hidden-table{
  display: none;
}

.print_only
	{
	font-size:13px; 
	display:none;
	}

.text,.text_clic
	{
	color:#29495C;
	text-decoration:none;
  font-weight: bolder;
	font-size:10.0pt;
	font-family: Poppins;
	}

.titre
	{
	position:absolute;
	top:50px;
	left:380px;
	color:white; 
	font-size:32.0pt;
	font-family:Poppins;
	}

.titreSemFixe{
  color:#FFFFFF;
  text-decoration:none;
  font-size:15pt;
  font-family: Poppins;
  font-weight: normal;
  width:50%;
  text-align:left;
  padding: 20px 0 10px 5px;
}

.titreSemFixe div,
.titreSemFixe ul {
  padding-top: 5px;
}

.top-button-div {
    text-align:right;
    margin: 0 10px 30px 0;
}

#tab_jours{ /* /index */
  text-align:left;
}

.tr
	{
	color:#FFF;
	text-decoration:none;
	font-size:11.0pt;
	font-family:Poppins;
	font-weight: bold
	}

.cellule_grise {
  text-align:center;
  background: #DBDFE1;
}

td.cellule_grise {
  border-right: 1px solid #999999;
  border-bottom: 1px solid #999999;
}

/*																				*/
/*	Setup																		*/
/*																				*/
#setup #auth-logo{
  position:relative;
  margin: 20px;
}

#setup input[type=text], #setup input[type=password]{
	width:300px;
	margin:2px;
	}

#setup input[type=checkbox]{
  margin:4px;
}
#setup fieldset{
	width:640px;
	padding: 20px;
	}
	
#aide {
	margin:0px 80px 0px 30px;
	text-align:justify;
	}
	
#aide h3 {
	margin-top:30px;
	margin-bottom:10px;
	}
#aide h4 {
	margin-left:20px;
	margin-top:30px;
	margin-bottom:10px;
	}
#aide h5 {
	font-size:12pt;
	margin-left:40px;
	margin-top:30px;
	margin-bottom:10px;
	}

#a_retour {
  position:fixed;
  right:40px;
  bottom:40px;
}

/*	Messages d'informations		*/
#messages_infos {
	width: 90%;
  margin: auto;
	color:#cd1b19;	
	font-weight:bold;
	font-size:13pt;
  padding: 5px 10px;
}

img{
  border: none;
}

#tab_titre tr{
  vertical-align:top;
}

#cal_ifram{	
  width:200px;
  height:160px;
}

#td_boutons{
  text-align:right;
  padding:20px 20px 0 0;
}

#td_boutons .ui-state-error{
    text-align: left;
}

#validation{
  font-size:13px;
  margin:0 20px 0 0;
}

#undo-redo{
  font-size:13px;
  margin:5px 20px 0 0;
}

#imprimante{
  cursor:pointer;
}

#choix_tableaux{
  margin: 75px 15px;
}

#choix_tableaux td{
  width:200px;
  padding: 10px 0;
}

#choix_tableaux select{
  width:180px;
}

#tableau, .tableau{
  text-align:center;
  padding: 30px 0 0 0;
}

/*	Jours Fériés	*/
#joursFeries table{
  width:1024px;
  margin-top:30px;
}

#joursFeries .c350{
  width:300px;
}

#joursFeries .c100{
  width:100px;
}

.intitule, label {
  white-space: nowrap;
  color: #29495C;
}

.textAlignRight{
  text-align: right;
  padding-right: 5px;
}

/* Elements "sortable" (gestion des motifs d'absences, des statuts des agents */
ul[id$="-sortable"] { list-style-type: none; margin: 0; padding: 0; }
ul[id$="-sortable"] li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; height: 30px; }
ul[id$="-sortable"] li span { margin-left: -1.3em; }

ul[id$="_sortable"] { 
  list-style-type: none; 
  padding: 0;
}

form[id^="arrange-"] {
  height: 400px; 
  overflow-y: scroll;
}

.bold {
  font-weight:bold;
}

option.bold{
  margin-top:3px;
}

.center{
  text-align:center;
}

.inline{
  display: inline;
}

.bg-blue {
  background-color: aliceblue;
}

.nowrap {
  white-space:nowrap;
}

/* Statistiques */
#stat-col1{
  width:350px;
}

#stat-col1 select,#stat-col1 input[type=text] {
  width:250px;
}

#stat-col1 textarea {
  width:244px;
}

#stat-temps-aff-grp{
  margin: 0 0 0 30px;
}

.statistiques-heures{
  text-align:right;
  white-space:nowrap;
}

#table_temps{
  text-align:center;
}

div.presents-absents {
  width: 97%;
  margin-left: 25px;
}

/*	FixedColumns	*/
.DTFC_LeftBodyLiner{
  overflow:hidden;
}

.bg-yellow{
  background:#FFD700;
}

/*	DataTables */
.dataTable tbody tr.odd {
  background-color:#F0F0F0;
}

.dataTable tbody tr.even {
  background-color:#FFFFFF;
}

.dataTable tbody tr:hover{
  background-color: #FFD700;
}

.dataTable tbody td{
  border-right: 1px solid #000;
}

.dataTable tbody tr.odd td:last-child{
  border-right: 1px solid #F0F0F0;
}
.dataTable tbody tr.even td:last-child{
  border-right: 1px solid #FFFFFF;
}

.dataTable tbody tr.odd:hover td.sorting_1,
.dataTable tbody tr.odd:hover td.sorting_2,
.dataTable tbody tr.odd:hover td.sorting_3{
  background-color:#FFD700;
}

.dataTable tbody tr.even:hover td.sorting_1,
.dataTable tbody tr.even:hover td.sorting_2,
.dataTable tbody tr.even:hover td.sorting_3{
  background-color:#FFD700;
}

div.dt-container div.dt-layout-row {
  background-color: #29495C;
  color: #FFFFFF;
  padding: 5px;
  margin: 0px;
  flex-flow: row wrap;
}

div.dt-container select.dt-input option {
  color: white;
  background-color: #29495C;
}

div.dt-container div.dt-layout-row:first-child {
  border-top-left-radius : 4px;
  border-top-right-radius : 4px;
}

div.dt-container div.dt-layout-row:nth-child(3) {
  border-bottom-right-radius : 4px;
  border-bottom-left-radius : 4px;
}

div.dt-container div.dt-layout-row label {
  color: #FFFFFF;
}

div.dt-container div.dt-layout-row.dt-layout-table {
  color: #29495C;
  padding:0%;
}

div.dt-container .dt-paging .dt-paging-button.disabled,
div.dt-container .dt-paging .dt-paging-button.current,
div.dt-container .dt-paging .dt-paging-button.current:hover,
div.dt-container .dt-paging .dt-paging-button.disabled:hover,
div.dt-container .dt-paging .dt-paging-button.disabled:active {
  cursor: default;
  color: #748895 !important;
  border: 1px solid #748895;
  box-shadow: none;
}

div.dt-container .dt-paging .dt-paging-button,
div.dt-container .dt-paging .dt-paging-button:active {
  border: 1px solid #FFFFFF;
  box-shadow: none;
}

div.dt-container .dt-paging .dt-paging-button:hover {
  color: #29495C !important;
  border: 1px solid #FFFFFF;
  background: none;
  background-color: #FFFFFF;
}

table.dataTable thead tr>.dtfc-fixed-left, table.dataTable thead tr>.dtfc-fixed-right, table.dataTable tfoot tr>.dtfc-fixed-left, table.dataTable tfoot tr>.dtfc-fixed-right {
  background-color: #466578;
}

table.dataTable tbody tr.odd>.dtfc-fixed-left, table.dataTable tbody tr>.dtfc-fixed-right {
  background-color:#F0F0F0;
}

.dt-buttons {
    width: 100%;
    padding: 11px 0 11px 0;
    text-align: right;
    border-radius: 4px;
    margin-bottom: 5px;
}

div.dt-buttons button.dt-button {
  background: none;
  background-color: #F0F0F0;
  border: solid 1px #29495C;
}

div.dt-buttons button.dt-button.buttons-html5:hover,
div.dt-buttons button.dt-button.buttons-print:hover {
  background-color: #29495C;
  color: #F0F0F0;
}

.ellipsis{
  color:#FFF;
}

/*	JQuery-UI Accordion	*/
.ui-accordion .ui-accordion-header{
  margin-bottom: 0px;
}

/*	Agenda	*/
#div_agenda_content{
  background-color: #FFF;
  margin: 25px 0 0 0;
  padding:25px;
  border-radius: 5px;
}

#div_agenda table {
  width: 100%;
}

#div_agenda .information{
  display: inline-block;
}

#tab_agenda tr:last-child td:first-child{
  border-bottom-left-radius: 5px;
}

#tab_agenda tr:last-child td:last-child{
  border-bottom-right-radius: 5px;
}

#tab_agenda td{
  vertical-align: top;
}

#tab_agenda tr td:first-child{
  border-left: 1px solid #999999;
}

#tab_agenda td{
  border-right : 1px solid #999999;
  border-bottom : 1px solid #999999;
}

#div_agenda .div_date{
  font-weight:bold;
  margin-bottom:10px;
  text-align:right;
}

#div_agenda ul{
  margin-top:0px;
  padding-left:20px;
}

#div_agenda .postes{
  margin-top: 10px;
}

#content-planning #content-form {
  margin-top: 60px;
}

#detachedAgentDiv {
  max-width: 1080px;
  margin: 20px auto;
}

#volants-dispo-div,
#volants-buttons-div,
#volants-selectionnes-div,
#volants-validation{
  display: inline-block;
  vertical-align: top;
  width: 300px;
  float: both;
}

#volants-buttons-div {
  margin-top : 45px;
}

#volants-buttons-div{
  padding-top: 90px;
  text-align: center;
  width: 240px;
}

#volants-validation{
  padding-top: 45px;
  text-align: right;
  width: 220px;
}

#volants-buttons-div input,
#volants-validation input{
  width: 180px;
}

#volants-dispo-div select,
#volants-selectionnes-div select{
  height: 400px; 
  width: 300px; 
  font-size: 1em;
}

.statut_volants{
   background: #D5F5E3;
}

/*	Footer	*/
.footer{
  text-align:center;
  margin:50px 30px 0 0;
  opacity:0.7;
  font-size:9pt;
  width:100%;
}

/*	Congés	*/
#tableConges td{
  white-space: nowrap;
}

.selectSite:disabled {
  color: #29495C;
  appearance: none;
  background-color: inherit;
  border: white;
  text-indent: 1px;
}

.planno-timepicker:disabled,
.planno-break-timepicker:disabled {
    color: #29495C;
}

/* Frameworks */
.framework-timepicker {
  width: 85px;
}

#div_infos .important,
#div_horaires .important {
  width: 500px;
  margin: auto;
}

#div_lignes .highlight {
  width: 530px;
  margin: 40px auto auto;
}

/*Buttons START*/

.btn.btn-primary , .btn.btn-primary:focus, .btn.btn-primary:active {
  background-color: #FFD700;
  border: 1px solid #FFD700;
  color: #29495C;
  border-radius: var(--bs-border-radius-sm);
}

.btn.btn-primary:hover {
  background-color: #d5ba2B;
  border: 1px solid #d5ba2B;
  color: #29495C;
  box-shadow: none;
}

.btn.btn-secondary, .btn.btn-secondary:focus, .btn.btn-secondary:active {
  background-color: #fff;
  border: 1px solid #29495C;
  color: #29495C;
  border-radius: var(--bs-border-radius-sm);
}

.btn.btn-secondary:hover {
  background-color: #29495C;
  border: 1px solid #29495C;
  color: #fff;
  box-shadow: none;
  }

.btn.btn-danger, .btn.btn-danger:active, .btn.btn-danger:focus {
  background-color: #fff;
  border: 1px solid #cd1b19;
  color: #cd1b19;
  border-radius: var(--bs-border-radius-sm);
}

.btn.btn-danger:hover {
  background-color: #cd1b19;
  border: 1px solid #cd1b19;
  color: #fff;
  box-shadow: none;
}

.btn {
  min-width: 105px;
  font-family: Poppins;
  font-size: 1em;
  font-weight: bold;
}

.btn-icon {
  display: contents;
}

.ui-button-icon-only {
  min-width: 10px;
}

.top-buttons .col,
.top-buttons .col-3 {
  padding: 10px 15px;
  white-space: nowrap;
}

.container {
  display: contents;
}

.top-buttons .col:last-child {
  text-align: right;
}

/*Buttons END*/

/* Modals START */

.btn-icon {
display: contents;
}

.modal-header {
  background-color: #FFD700 ;
  border: 1px solid;
  border-color: #FFD700;
  color: #29495C
}

.modal-body {
  color: #29495C;
}

.modal-body p, .modal-body label {
  font-size: 1.15em;
}

p:first-of-type {
  margin-top: 1rem;
}

hr {
  color: #DEE2E6;
  opacity: 100%;
}

/* Approximation de la couleur #29495C par filtrage (loss 0.2) */
.modal-header .btn-close, 
.modal-header .btn-close.active,
.modal-header .btn-close:hover {
  filter: invert(24%) sepia(13%) saturate(1634%) hue-rotate(159deg) brightness(98%) contrast(91%);
  opacity: 100%;
}

.modal-body .form-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control, .form-control:focus, .form-control-plaintext {
  color: #29495C;
  font-size: inherit;
  border-radius: var(--bs-border-radius-sm);
}

div.form-control, div.form-control:focus {
  color: #29495C;
}

input.form-check-input:checked {
  background-color: #29495C;
  border-color: #29495C;
}

input.form-check-input {
  margin-top: 0.5em;
  border: 1px solid;
}

input[type=number] {
  border: 1px solid #456578;
}

select.form-select, select.form-select:focus {
  color: #29495C;
  border: 1px solid #456578;
  height: 30px;
}

.form-control.is-invalid {
  padding-right: 0px;
}

input::placeholder {
    color: gray !important;
}

/* Modals END */

/* Bootstrap Grid START */

.row.row-sortable {
  min-height: 45px;
  border: 1px solid;
  margin-bottom: -1px;
  align-items: center;
}

.row.row-sortable span {
  font-size: 1.08em;
}

.row.row-sortable select {
  width: 100%;
  background-color: aliceblue;
}

.row.row-header {
  background-color: #29495C;
  color: white;
  font-weight: bold;
  white-space: nowrap;
  align-items: center;
}

.row.row-header i {
  visibility: hidden;
}

.row.row-search .datepicker {
  margin: 0.7em;
  width: 13em ;
}

.row.row-search select {
  width: 13em ;
  margin: 0.6em;
  text-align: center;
}

/* Bootstrap Grid END */

/*ui-dialog START*/

.ui-dialog {
  background: #FFFFFF;
  border: 1px solid #999999;
  color: #29495C;
  padding: 0 0 0 0;
}

#reset-login-form.ui-dialog-content {
  padding: 1.5em 1em 0.5em 1em;
}

.ui-dialog-titlebar {
  background: #FFD700;
  border: 1px solid #FFD700;
  color: #29495C;
}

/*ui-dialog END*/

/*Table START*/

table.dataTable th{
  background-color: #456578;
  border: 1px solid #456578;
  border-right-color: #000;
  color: #FFFFFF;
}


.ui-button-table{
  background: #29495C;
  border: 1px solid #FFFFFF;

}

#tablePlanningAbsences_wrapper{
  width: 90%;
  margin: auto;
}

/*Table END*/

/*Admin START*/
#content-admin{
  width: 90%;
  margin: 10px auto auto auto;
}

.admin-div {
  width: 100%;
  background: #FFF;
  border-radius: 5px;
  margin: 20px 0 0 0;
  padding: 20px;
}

.info-align{
  display: inline-block;
}

#admin .ui-state-default, .ui-widget-header .ui-state-default {
    border: 2px solid #FFF;
    background: #29495C;
    font-weight: bold;
    color: #FFF;
}

#admin .ui-state-active, .ui-widget-header .ui-state-active{
  border: 2px solid #FFF;
  background: #FFF;
  font-weight: bold;
  color: #29495C;
}

#admin .ui-state-hover, .ui-widget-header .ui-state-hover{
  border: 2px solid #FFF;
  background: #FFF;
  font-weight: bold;
  color: #29495C;
}

.ui-widget-header .ui-state-hover a {
  color: #29495C;
}

#closingday{
  width: 90%;
  margin: 10px auto auto auto;
}

#closingday td{
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

#closingday tr:first-child td{
  border-top: 1px solid #000;
}

#closingday tr td:last-child{
  border-right: 1px solid #000;
}

.closingday-header{
  background: #29495C;
  color: #fff;
}

#content-skill {
  width: 90%;
  margin: 10px auto auto auto;
}

.skill{
  width: 100%;
  background: #FFF;
  border-radius: 5px;
  padding: 10px;
}

.icon-div{
  width: 80px;
  margin: auto;
  text-align: left;
}

/*Admin END*/

/*Statistics START*/

#content-form, .content-form{
  width: 90%;
  margin: 10px auto auto auto;
}

.statistics-div{
  width: 100%;
  background: #FFF;
  border-radius: 5px;
  padding: 10px;
}

#content-form .th{
  background: #29495C;
  color: #fff;
}

.statistics-table{
  border-width: 0px;
  box-sizing: content-box;
  width: 100%;
}

.statistics-table td {
  border-right: 1px solid #999999;
  border-bottom: 1px solid #999999; 
}

.statistics-table tr td:first-child {
  border-left: 1px solid #999999;
}

.statistics-table tr:first-child td {
  border-top: 1px solid #999999;
}

.statistics-table table td,
.statistics-table table td:first-child,
.statistics-table table tr:first-child td {
  border: initial;
}

.statistics-table tr:first-child td:first-child{
  border-top-left-radius: 5px;
}

.statistics-table tr:first-child td:last-child{
  border-top-right-radius: 5px;
}

.statistics-table tr:last-child td:first-child{
  border-bottom-left-radius: 5px;
}

.statistics-table tr:last-child td:last-child{
  border-bottom-right-radius: 5px;
}

.dataTable tbody tr.odd td.no-hover:hover{
  background: #F0F0F0;
}

.dataTable tbody tr.even td.no-hover:hover{
  background: #FFFFFF;
}

.dataTable tbody tr.odd:hover td.no-hover{
  background: #F0F0F0;
}

.dataTable tbody tr.even:hover td.no-hover{
  background: #FFFFFF;
}

.dataTable tbody tr.odd th.no-hover:hover{
  background: #F0F0F0;
}

.dataTable tbody tr.even th.no-hover:hover{
  background: #FFFFFF;
}

.dataTable tbody tr.odd:hover th.no-hover{
  background: #F0F0F0;
}

.dataTable tbody tr.even:hover th.no-hover{
  background: #FFFFFF;
}

/*Statistics END*/

/*Account START*/

#account .ui-widget-content a{
  color: #29495C;
}

#account .ui-state-default{
  background-color: #456578;
  border: 1px solid #456578;
  border-right-color: #000;
  color: #29495C;
}

#account .ui-widget-content .ui-state-default{
  background-color: #456578;
  border: 1px solid #456578;
  border-right-color: #000;
  color: #FFFFFF;
}

/*Account END*/

/*Personnalisation couleur tableau*/
/* Bleu */
.bleu.tr_horaires, .bleu.tr_separation, .bleu.tr_horaires td.td_postes, .blue.tr_horaires, .blue.tr_separation, .blue.tr_horaires td.td_postes{
  background: #04133b;
  color: #FFF;
}

.bleu td.td_postes, .blue td.td_postes{
  background: #CCECF8; 
  color: #000;
}

/* Jaune */
.jaune.tr_horaires, .jaune.tr_separation, .jaune.tr_horaires td.td_postes, .yellow.tr_horaires, .yellow.tr_separation, .yellow.tr_horaires td.td_postes{
  background: #d1ac07;
  color: #000;
}

.jaune td.td_postes, .yellow td.td_postes{
  background: #efe0a3; 
  color: #000;
}

/* Rouge */
.rouge.tr_horaires, .rouge.tr_separation, .rouge.tr_horaires td.td_postes, .red.tr_horaires, .red.tr_separation, .red.tr_horaires td.td_postes {
  background: #720a05;
  color: #FFF;
}

.rouge td.td_postes, .red td.td_postes{
  background: #eacac9; 
  color: #000;
}

/* Violet */
.violet.tr_horaires, .violet.tr_separation, .violet.tr_horaires td.td_postes, .purple.tr_horaires, .purple.tr_separation, .purple.tr_horaires td.td_postes{
  background: rgb(68, 0, 68);
  color: #FFF;
}

.violet td.td_postes, .purple td.td_postes{
  background: #E3D8F7; 
  color: #000;
}

/* Vert */
.vert.tr_horaires, .vert.tr_separation, .vert.tr_horaires td.td_postes, .green.tr_horaires, .green.tr_separation, .green.tr_horaires td.td_postes{
  background: #06360f;
  color: #FFF;
}

.vert td.td_postes, .green td.td_postes{
  background: #BFEEC8; 
  color: #000;
}

.isDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.isDisabled > a {
  color: currentColor;
  display: inline-block;  /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
}

/* Working Hours / Planning Hebdo */

#plHebdo-perso-id {
  margin: 20px 0;
}

#workinghour_tables h3 {
  margin: 15px 0 15px 0;
}

#workinghour_tables table {
  border-spacing : 0;
  border-collapse : collapse;
  margin: 0 0 10px 0;
  background: #FFF;
}

#workinghour_tables table th {
  border: 1px solid #29495C;
  padding: 5px 15px;
  background: #29495C;
  color: #FFF;
  text-align: center;
  min-width: 120px;
}

#workinghour_tables td {
  border: 1px solid #29495C;
  text-align: center;
}

#workinghour_tables td input {
  width: 100%;
  text-align: center;
  border: 1px solid rgb(41, 73, 92, 0.3);
}

/* Emoji */

.emoji-wysiwyg-editor {
  border : 1px solid #456578;
  border-radius: 4px;
}

.bi.bi-emoji-smile {
  color: #456578;
  z-index: 1;
}

.tableauFiches .emoji-menu-tabs td {
  padding: 0 0 10px 10px;
}

#tableWorkingHourCycles_wrapper {
  margin-top: 20px;
}

@media only screen and (max-width: 1550px){
  #logo {
    width: 48px;
    height: 36px;
    background:url("images/logo-thumbnail.svg") no-repeat center;
  }

  #username {
    display: none;
  }
}

@media only screen and (max-width: 1200px){
  #mainMenu {
    max-height: none;
  }

  #accountDiv {
    display: none;
  }

  #accountDivReverse {
    display: block;
  }

  .titreSemFixe{
    padding: 5px 0 10px 0;
  }

}
