/**
Planno
Licence GNU/GPL (version 2 et au dela)
Voir les fichiers README.md et LICENSE

@file public/themes/default/print.css
@author Jérôme Combes <jerome@planningbiblio.fr>

Description :
Feuille de style pour les impressions (media=print)

Incluse dans les fichiers include/header.php et setup/header.php
	color: #29495C;
*/

body, #tab_titre {
  background: none;
}

#date_planning, #week_planning, #h3-Multisites, .pl-validation {
  color: #29495C;
}

.titreSemFixe {
  padding: 3mm 10mm;
}

#h3-Multisites {
  margin: 0px 0px auto;
  font-weight: normal;
}

.pl-validation {
  margin: 50px -80px auto;
  font-weight: normal;
}

#divcalendrier {
  height: 40mm;
}

a, img, .noprint, .popper, .footer, .navigation, .ui-widget-header, div.ui-state-error, .menu_table, .ui-buttoni, #messages_infos, #pl-calendar, .arrow-right {
  display:none;
}

.dt-buttons{
  display:none;
}
