{# common/validation-statuses.html.twig #}

{% if show_select %}
  <select name="valide" class="form-select form-select-sm" id="validation-state">
    {% if entity_state == 0 %}
      <option value='0' {% if entity_state == 0 %}selected{% endif %}>Demandée</option>
    {% endif %}
    {% if show_n1 and entity_state not in [-1,1] %}
      <option value='2' {% if entity_state == 2 %}selected{% endif %}>Acceptée (En attente de validation hiérarchique)</option>
      <option value='-2' {% if entity_state == -2 %}selected{% endif %}>Refusée (En attente de validation hiérarchique)</option>
    {% endif %}

    {% if show_n2  %}
      <option value='1' {% if entity_state == 1 %}selected{% endif %}>Acceptée</option>
      <option value='-1'{% if entity_state == -1 %}selected{% endif %}>Refusée</option>
    {% endif %}
  </select>
{% else %}
  <input type="text" id="validation-state" readonly class="form-control-plaintext" value="{{ entity_state_desc }}">
{% endif %}
