{# skill/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block page %}
  <div id="content-skill">
    {% if id is defined %}
      <h3>Modification de l'activité</h3>
    {% else %}
      <h3>Ajout d'une activité</h3>
    {% endif %}
    <div class="skill">
      <form method="post" name="form" action="{{ asset('skill') }}" novalidate>
        <input type="hidden" name="CSRFToken" value="{{ CSRFSession }}" />
         <div class="row my-2 gx-5">
          <label class="col-2 col-form-label aRight" for="skill-name">{% trans %}Name{% endtrans %} :</label>
          <div class="col-3">
            <input type="text" name="nom" id="skill-name" value="{{ skill_name }}" class="form-control form-control-sm" required/>
          </div>
          <div class="col-auto">
            <div class="invalid-feedback">{% trans from 'validators' %}This value should not be blank.{% endtrans %}</div>
          </div>
        </div>

         <div class="row my-4 gx-5">
           {% if id is defined %}
            <input type="hidden" value="{{ id }}" name = "id" />
          {% endif %}
          <div class="col-1 offset-1">
            <button type="button" onclick="history.go(-1);" class="btn btn-secondary">{% trans %}Cancel{% endtrans %}</button>
          </div>
          <div class="col-1">
            <button type="submit" id="submit" class="btn btn-primary">{% trans %}Confirm{% endtrans %}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
