{# maintenance.html.twig #}

{% extends 'base.html.twig' %}

{% block page %}
    <div id='acces_refuse'>Veuillez mettre à jour votre base de données pour utiliser PlanningBiblio</div>
{% endblock %}
