{# admin/model/index.html.twig #}

{% extends 'base.html.twig' %}

{% block page %}
<div id="content-admin">
  <h3>Modification du modèle</h3>

  <div class="admin-div">
    <form method="post" action="{{ asset('model') }}" name="form">

      <input type="hidden" name="id" value="{{ template.modelId }}"/>

      <div class="row my-3">
        <label class="col-auto col-form-label ms-2" for="model-name">{% trans %}Model name{% endtrans %} :</label>
        <div class="col-2">
            <input id="model-name" type="text" value="{{ template.name }}" name="name" class="form-control form-control-sm"/>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-4">
            <input type="button" role="button" class="btn btn-secondary m-2" onclick="history.go(-1);" value="{% trans %}Cancel{% endtrans %}"/>
            <input type="submit" role="button" class="btn btn-primary" value="{% trans %}Confirm{% endtrans %}"/>
        </div>
      </div>

    </form>
  </div>
</div>
{% endblock %}
