{# legalNotices/index.html.twig #}

{% extends 'base.html.twig' %}

{% block page %}
  <div id='legalNotices'>
    <h3>Mentions légales</h3>
    {{ config('legalNotices') | markdown_to_html }}
  </div>
{% endblock %}
