{# statedweek/tables/absences.html.twig #}

<table class="statedweek-table table-bottom" id="statedweek-absences" border="1">
  <thead>
    <tr>
      <th class="cell-header" colspan="3">Absents</th>
    </tr>
  </thead>
  <tbody>
    {% for i in 0..6 %}
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
