{# statedweek/tables/holidays.html.twig #}

<table class="statedweek-table table-right table-bottom" id="statedweek-holidays" border="1">
  <thead>
    <tr>
      <th class="cell-header" colspan="2">Congés</th>
    </tr>
  </thead>
  <tbody>
    {% set index = 0 %}
    {% for i in 0..6 %}
      <tr>
        {% if holidays[index] is defined %}
          {% set holiday = holidays[index] %}
          <td>{{ holiday.nom }} {{ holiday.prenom }}</td>
          {% set index = index + 1 %}
        {% else %}
          <td></td>
        {% endif %}

        {% if holidays[index] is defined %}
          {% set holiday = holidays[index] %}
          <td>{{ holiday.nom }} {{ holiday.prenom }}</td>
          {% set index = index + 1 %}
        {% else %}
          <td></td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
