{# weeklyplanning/breakingtime.html.twig #}

<select class="select" name="breaktime[{{ day_index }}]" id="breaktime[{{ day_index }}]">
  {% if breaktime == 0 %}
    <option value="0" selected="selected">0h00</option>
  {% else %}
    <option value="0">0h00</option>
  {% endif %}

  {% if breaktime == 0.25 %}
    <option value="0.25" selected="selected">0h15</option>
  {% else %}
    <option value="0.25">0h15</option>
  {% endif %}

  {% if breaktime == 0.50 %}
    <option value="0.50" selected="selected">0h30</option>
  {% else %}
    <option value="0.50">0h30</option>
  {% endif %}

  {% if breaktime == 0.75 %}
    <option value="0.75" selected="selected">0h45</option>
  {% else %}
    <option value="0.75">0h45</option>
  {% endif %}

  {% if breaktime == 1.00 %}
    <option value="1.00" selected="selected">1h00</option>
  {% else %}
    <option value="1.00">1h00</option>
  {% endif %}

  {% if breaktime == 1.25 %}
    <option value="1.25" selected="selected">1h15</option>
  {% else %}
    <option value="1.25">1h15</option>
  {% endif %}

  {% if breaktime == 1.50 %}
    <option value="1.50" selected="selected">1h30</option>
  {% else %}
    <option value="1.50">1h30</option>
  {% endif %}

  {% if breaktime == 1.75 %}
    <option value="1.75" selected="selected">1h45</option>
  {% else %}
    <option value="1.75">1h45</option>
  {% endif %}

  {% if breaktime == 2.00 %}
    <option value="2.00" selected="selected">2h00</option>
  {% else %}
    <option value="2.00">2h00</option>
  {% endif %}
</select>
